<div id="analytics-page">
  <div class="analytics-frontdrop">

  </div>
  <section class="section-containers blur">
    <div class="row">
      <div class="col-sm-12 card">
        <span style="margin-right: 10px;">Select data feed period </span>
        <span class="input-group" style="display: inline-block; width: unset;">
          <input type="text" id="datepicker" class="analytics-datepicker" style="width: 225px; height: 34px;">
          <div class="input-group-addon icons-input col-md-5">
            <i class="far fa-calendar-alt"></i>
          </div>
        </span>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-9" style="padding-left: 0;">
        <div class="overview-container">
            <div class="card info">
              <h4 ng-if="!loadingStats">
                {{stats.active}}
              </h4>
              <h4 ng-if="loadingStats">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h4>
              <h5>
                Active Rewards
              </h5>
            </div>
            <div class="card info">
              <h4 ng-if="!loadingStats">
                {{stats.generated}}
              </h4>
              <h4 ng-if="loadingStats">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h4>
              <h5>
                Generated Coupins
              </h5>
            </div>
            <div class="card info">
              <h4 ng-if="!loadingStats">
                {{stats.redeemed}}
              </h4>
              <h4 ng-if="loadingStats">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h4>
              <h5>
                Redeemed Coupins
              </h5>
            </div>
        </div>
        <div class="reward-list" style="margin-top: 30px;">
          <p>Click specific promotions / rewards to get better insights</p>
          <table class="table" id="reward-list-table">
            <thead class="hidden-xs hidden-sm">
                <tr>
                    <th width="20px">S/N</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>Expires</th>
                    <th>Coupins</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, discount) in rewards" ng-click="goToReward(discount._id)" ng-if="!loadingRewards">
                    <td scope="row" class="hidden-xs hidden-sm">{{ index + 1 }}</td>
                    <td class="icon">{{ discount.name }}</td>
                    <td class="icon">{{ discount.start }}</td>
                    <td class="icon">{{ discount.expires }}</td>
                    <td>
                      <cp-line-indicator coupins="discount.coupins" class="{{discount._id}}-coupin-indicator"></cp-line-indicator>
                    </td>
                </tr>
                <tr ng-if="loadingRewards" class="loading-row">
                    <td class="hidden-xs hidden-sm"><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td></td>
                </tr>
                <tr ng-if="rewards.length === 0" class="empty-row">
                    <td colspan="6">
                        No Rewards to display
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card overall-coupin-stat">
          <p class="section-headers">
            Overall Coupins
          </p>
          <div id="overall-coupin-stat_radar"></div>
          <cp-radar-chart redeemed-value="radarSeriesValue"></cp-radar-chart>
        </div>
      </div>
    </div>
  </section>
</div>