<div id="analytics-page">
  <!-- <div id="analytics-page" style="padding-top: 30px;"> -->
  <div class="section-header-container">
    <!-- <p class="section-headers">
        Analytics
      </p> -->
  </div>
  <section class="section-containers">
    <div class="row">
      <div class="col-sm-12 card">
        <div class="input-group">
          <input type="text" id="datepicker" class="analytics-datepicker" style="width: 225px; height: 34px;">
          <div class="input-group-addon icons-input col-md-5">
            <i class="far fa-calendar-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-8" style="padding-left: 0;">
        <div class="overview-container">
            <div class="card info">
              <h4>
                30
              </h4>
              <h5>
                Active Rewards
              </h5>
            </div>
            <div class="card info">
              <h4>
                30
              </h4>
              <h5>
                Generated Coupins
              </h5>
            </div>
            <div class="card info">
              <h4>
                30
              </h4>
              <h5>
                Redeemed Coupins
              </h5>
            </div>
        </div>
        <div class="reward-list" style="margin-top: 30px;">
          <table class="table" id="reward-list-table">
            <thead class="hidden-xs hidden-sm">
                <tr>
                    <th width="20px">S/N</th>
                    <th>Name</th>
                    <th>Added</th>
                    <th>Expires</th>
                    <th>Coupins</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, discount) in rewards" ng-click="goToReward(discount._id)">
                    <td scope="row" class="hidden-xs hidden-sm">{{ index + 1 }}</td>
                    <td class="icon">{{ discount.name }}</td>
                    <td class="icon">{{ discount.added | date: 'longdate' }}</td>
                    <td class="icon">{{ discount.expires | date: 'longdate' }}</td>
                    <td>
                      <cp-line-indicator coupins="discount.coupins" class="{{discount._id}}-coupin-indicator"></cp-line-indicator>
                    </td>
                </tr>
                <tr ng-if="loadingRewards" class="loading-row">
                    <td class="hidden-xs hidden-sm"><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                    <td></td>
                </tr>
                <tr ng-if="rewards.length === 0" class="empty-row">
                    <td colspan="6">
                        No Rewards to display
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card overall-coupin-stat">
          <p class="section-headers">
            Analytics
          </p>
          <div id="overall-coupin-stat_radar"></div>
        </div>
      </div>
    </div>
  </section>
</div>