<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div class="container">
                    <div class="navbar-header">
                        <div class="brand hidden-lg">
                            <!-- Coupin Merchant Dashboard -->
                            <img src="img/logo@2x-fs8.png" alt="logo" class="mobile-logo hidden-lg">
                        </div>
                        <button class="navbar-toggle collapsed" data-target="#merchant-menu" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="merchant-menu">
                        <section class="merchant-information">
                            <div class="merchant-logo" ng-style="{'background-image': 'url({{user.merchantInfo.logo.url}})'}"></div>
                            <h3 class="merchant-name">
                                {{user.merchantInfo.companyName}}
                            </h3>
                            <h4 class="merchant-email">
                                {{user.email}}
                            </h4>
                        </section>
                        <section class="menu">
                            <a ui-sref=".home" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                            <a ui-sref=".home" ui-sref-active="active" class="hidden-sm hidden-xs hidden-md">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                            <a ui-sref=".rewards" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg">
                                <i class="fas fa-tags"></i>
                                Rewards
                            </a>
                            <a ui-sref=".rewards" ui-sref-active="active" class="hidden-sm hidden-xs hidden-md">
                                <i class="fas fa-tags"></i>
                                Rewards
                            </a>
                            <a ui-sref=".profile" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg">
                                <i class="fas fa-user"></i>
                                Profile
                            </a>
                            <a ui-sref=".profile" ui-sref-active="active" class="hidden-sm hidden-xs hidden-md">
                                <i class="fas fa-user"></i>
                                Profile
                            </a>
                            <a ui-sref=".billing" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg">
                                <i class="fas fa-money-bill"></i>
                                Billing Info
                            </a>
                            <a ui-sref=".billing" ui-sref-active="active" class="hidden-sm hidden-xs hidden-md">
                                <i class="fas fa-money-bill"></i>
                                Billing Info
                            </a>
                            <a ui-sref=".analytics" ng-class="{active: analyticsState()}" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg">
                                <i class="fas fa-chart-bar"></i>
                                Analytics
                            </a>
                            <a ui-sref=".analytics" ng-class="{active: analyticsState()}" class="hidden-sm hidden-xs hidden-md">
                                <i class="fas fa-chart-bar"></i>
                                Analytics
                            </a>
                            <a ng-click="logOut()">
                                <i class="fas fa-sign-out-alt"></i>
                                Signout
                            </a>
                        </section>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-10 merchant-space">
            <div class="alert alert-danger" role="alert" ng-if="isExpired()">
                Your Subscription has expired! Click <a class="red-link" ui-sref=".billing">here</a> go to <b>Billing Info</b> to renew!
            </div>
            <!-- Dynamic Angular Content -->
            <div ui-view></div>
            <!-- <ui-view></ui-view> -->
        </div>
    </div>
</div>
