<div class="merchant-auth">
  <div class="auth-container">
    <div style="margin: 30px;" class="auth-logo-container">
        <img src="img/logo@2x-fs8.png" alt="logo" style="height: 50px;">
    </div>
    <div class="card">
        <div class="header">
            <span ng-class="{'active': activeView === 'signin'}" ng-click="switchActiveView('signin')">Sign In</span>
            <span ng-class="{'active': activeView === 'register'}" ng-click="switchActiveView('register')">Register</span>
            <span class="underline"></span>
        </div>
        <div class="body" ng-if="activeView === 'signin'">
            <p>Sign in, Welcome back</p>
            <form ng-submit="loginMerch()" name="loginForm">
                <div class="form-group">
                    <label for="loginEmail">Email: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input
                            type="email"
                            class="form-control"
                            name="loginEmail"
                            ng-class="{'has-error': isError(loginForm.loginEmail)}"
                            id="loginEmail"
                            aria-describedby="loginEmailHelp"
                            placeholder="name@example.com"
                            ng-model="formData.loginEmail"
                            required>
                        <div class="input-group-addon icons-input"><i class="fas fa-at"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input
                            type="password"
                            class="form-control"
                            id="loginPassword"
                            name="loginPassword"
                            ng-class="{'has-error': isError(loginForm.loginPassword)}"
                            aria-describedby="loginPasswordHelp"
                            placeholder="*******"
                            ng-model="formData.loginPassword"
                            required>
                        <div class="input-group-addon icons-input"><i class="fas fa-key"></i></div>
                    </div>
                    <small class="forgot-password form-text text-muted light" ng-click="goToPasswordResetRequestPage()">
                        <b>Forgot your password? Click here</b>
                    </small>
                </div>
                <button class="btn btn-default btn-primary" type="submit" ng-disabled="loading[0]">
                    <span ng-hide="loading[0]">Sign In</span>
                    <span ng-show="loading[0]">
                        Loading
                        <i class="fas fa-spinner fa-spin fa-fw"></i>
                    </span>
                </button>
            </form>
        </div>
        <div class="body"  ng-if="activeView === 'register'">
            <p>Sign up with us to start now</p>
            <form name="registrationForm">
                <div class="form-group">
                    <label for="companyName">Business Name:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control" id="companyName" aria-describedby="nameHelp" placeholder="e.g. Chisco's Burgers'" ng-model="formData.companyName" required>
                        <div class="input-group-addon icons-input"><i class="fas fa-building"></i></div>
                    </div>
                    <small id="nameHelp" class="form-text text-muted">The business/brand name that is publicly known to all.</small>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input
                            type="text"
                            class="form-control"
                            id="address"
                            minlength="20"
                            maxlength="40"
                            name="registrationAddress"
                            ng-class="{'has-error': isError(registrationForm.registrationAddress)}"
                            aria-describedby="addressHelp"
                            placeholder="e.g. 2 bank road, ikoyi"
                            ng-model="formData.address" required>
                        <div class="input-group-addon icons-input"><i class="fas fa-home"></i></div>
                    </div>
                    <small id="addressHelp" class="form-text text-muted">Street address with area</small>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control" id="city" minlength="3" maxlength="15" aria-describedby="cityHelp" placeholder="e.g. Benin" ng-model="formData.city" required>
                        <div class="input-group-addon icons-input"><i class="fas fa-map-marker"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <select class="form-control" id="state" aria-describedby="stateHelp" ng-model="formData.state" ng-options="state for state in states" required>
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@example.com" ng-model="formData.email" required>
                        <div class="input-group-addon icons-input"><i class="fas fa-at"></i></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Email used to contact the company.</small>
                </div>
                <div class="form-group">
                    <label for="mobileNumber">Mobile Number:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="tel" class="form-control" id="mobileNumber" aria-describedby="mobileNumberHelp" placeholder="e.g. 08056748930" maxlength="11" ng-model="formData.mobileNumber" required>
                        <div class="input-group-addon icons-input"><i class="fas fa-phone"></i></div>
                    </div>
                    <small id="mobileNumberHelp" class="form-text text-muted">Mobile Number used to contact the company.</small>
                </div>
                <button class="btn btn-default btn-primary" type="submit" ng-click="registerMerch()" ng-disabled="loading[1]">
                    <span ng-hide="loading[1]">Submit Request</span>
                    <span ng-show="loading[1]">
                        Loading
                        <i class="fas fa-spinner fa-spin fa-fw"></i>
                    </span>
                </button>
            </form>
        </div>
    </div>
  </div>
  <div class="row footer auth-footer">
      <div class="row text-center">
          <small id="descrHelp" class="form-text">Copyright of Coupin &copy;</small>
      </div>
  </div>
</body>