<div class="info-box padding-none">
    <div class="banner-display" ng-disabled="updating === true" ng-style="bannerStyle">
        <div class="banner-inner">
            <span data-toggle="modal" data-target="#cropModal" ng-click="isLogo = false">
                Upload new banner <i class="fas fa-plus"></i>
            </span>
        </div>
        <!-- <div class="row">
            <div class="col-md-4 col-xs-12"> -->
            <div class="logo-container">
                <div ng-class="{'logo-box': true, 'box-show': uploadingLogo}" ng-style="logoStyle">
                    <div class="inner" data-toggle="modal" data-target="#cropModal" ng-click="isLogo = true">
                        <i ng-if="!uploadingLogo" class="fas fa-2x fa-camera-retro"></i>
                        <small ng-if="uploadingLogo">{{'Upload at ' + logoPer + '%'}}</small>
                    </div>
                </div>
            </div>
                <br>
            <!-- </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 padding-x-none settings-sub">
            <h3 class="text-center">Settings</h3>
                <h5 ng-click="setSettings('personal')" ng-class="{'active': settings === 'personal'}">Personal Details</h5>
                <h5 ng-click="setSettings('company')" ng-class="{'active': settings === 'company'}">Company Info</h5>
        </div>
        <div class="col-md-9 col-xs-12" ng-switch="settings">
            <div ng-switch-when="personal" class="row margin-y-sm">
                <form>
                    <div class="form-group">
                        <label for="name">Email: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-at"></i></div>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@domain.com" ng-model="user.email" required/>
                        </div>
                        <small id="emailHelp" class="form-text text-muted">User email.</small>
                    </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">Change Password</button>
                    <br><br>
                    <btton class="btn btn-primary btn-full" ng-click="update()">Update Profile <i class="fas fa-spin fa-spinner" ng-disabled="updating === true" ng-show="updating"></i></btton>
                </form>
            </div>
            <div ng-switch-when="company" class="row margin-y-sm">
                <form>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="name">Name: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-meetup"></i></div>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="example@domain.com" ng-model="user.merchantInfo.companyName" required/>
                        </div>
                        <small id="nameHelp" class="form-text text-muted">Company Name.</small>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="name">Phone Number: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-phone"></i></div>
                            <input type="text" class="form-control" id="phoneNumber"  minlength="11" maxlength="11"  aria-describedby="emailHelp" placeholder="e.g. 08032455555" ng-model="user.merchantInfo.mobileNumber" required/>
                        </div>
                        <small id="nameHelp" class="form-text text-muted">Branch Phone Number.</small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label for="name">Details: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-info"></i></div>
                            <textarea type="text" class="form-control" id="detail" aria-describedby="emailHelp" placeholder="Company Details.." ng-model="user.merchantInfo.companyDetails" required></textarea>
                        </div>
                        <small id="detailHelp" class="form-text text-muted">Company Details.</small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label for="email">Address: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-map-signs"></i></div>
                            <input type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="e.g. 3 example street, off another drive" ng-model="user.merchantInfo.address" required/>
                        </div>
                        <small id="addressHelp" class="form-text text-muted">Branch Address</small>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="city">City:</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-map-marker"></i></div>
                            <input type="text" class="form-control" id="city" minlength="3" maxlength="15" aria-describedby="cityHelp" placeholder="e.g. Benin" ng-model="user.merchantInfo.city" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="state">State:</label>
                        <select class="form-control" id="state" aria-describedby="stateHelp" ng-model="user.merchantInfo.state" ng-options="state for state in states" required></select>
                    </div>
                    <h3>Geolocation Details</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Longitude: </label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon icons-input"><i class="fas fa-map-pin"></i></div>
                                    <input type="text" maxlength="8" minlength="8" class="form-control" id="longitude" placeholder="e.g. 3.474655" ng-model="position.long"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Latitude: </label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon icons-input"><i class="fas fa-map-pin"></i></div>
                                    <input type="text" maxlength="8" minlength="8" class="form-control" id="latitude" placeholder="e.g. 6.473655" ng-model="position.lat"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-primary btn-full" ng-click="getLocation()">Use My Current Location <i class="fas fa-spin fa-spinner" ng-disabled="loadingPosition === true" ng-show="loadingPosition"></i></button>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <btton class="btn btn-primary btn-full" ng-click="update()">Update Profile <i class="fas fa-spin fa-spinner" ng-disabled="updating === true" ng-show="updating"></i></btton>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="passwordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Password Change</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="changePassword(password, confirm)">
                    <div class="form-group">
                        <label for="email">New Passowrd: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-key"></i></div>
                            <input type="password" class="form-control" id="password" placeholder="Enter new password.." ng-model="password" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Confirm Passowrd: </label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon icons-input"><i class="fas fa-key"></i></div>
                            <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" ng-model="confirm" required/>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-full">Change Passowrd <i class="fas fa-spin fa-spinner" ng-disabled="changing === true" ng-show="changing"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Crop Modal -->
<div class="modal fade" id="cropModal">
    <div ng-class="{'modal-dialog': true, 'modal-banner': !isLogo}">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Image Crop</h3>
            </div>
            <div class="modal-body text-center">
                <div ng-if="isLogo">
                    <h4>Images Must all be cropped to a 200x200 square.</h4>
                    <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                    <input class="form-control" type="file" accept="image/*" img-cropper-fileread image="image.src"/>
                    <br>
                    <br>
                    <div class="row">
                        <div class="cropArea">
                            <canvas
                                height="350"
                                width="500"
                                image="image.src"
                                image-cropper
                                cropped-image="image.dst"
                                crop-height="200"
                                crop-width="200"
                                keep-aspect="true"
                                touch-radiue="30"
                                crop-area-bounds="bounds"
                                ></canvas>
                        </div>
                    </div>
                </div>
                <div ng-if="!isLogo">
                    <h4>Images Must all be cropped to a 950x323 square.</h4>
                    <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                    <input class="form-control" type="file" accept="image/*" img-cropper-fileread image="image.src"/>
                    <br>
                    <div class="row">
                        <div class="cropArea-banner">
                            <canvas
                                height="400"
                                width="1000"
                                image-cropper
                                image="image.src"
                                cropped-image="image.dst"
                                crop-height="323"
                                crop-width="950"
                                keep-aspect="true"
                                touch-radiue="30"
                                crop-area-bounds="bounds"
                                ></canvas>
                        </div>
                    </div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" ng-style="{'width': progress + '%'}" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-center">{{progress + '%'}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-success" ng-click="fileCheck(image, isLogo)">Upload Image</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>