<div id="reward-list-page" ng-init="loadRewards()">
    <p class="section-headers">Rewards</p>
    <section class="row" style="padding-bottom: 30px;">
        <!-- <div class="col-md-9 col-sm-12 search-container">
            <input
                ng-keyup="$event.keyCode === 13 && loadRewards()"
                class="form-control reward-search" 
                ng-model="query" 
                type="text" 
                placeholder="Search by name or description"/>
            <i class="fas fa-search"></i>
        </div> -->
        <div class="col-md-6 col-ms-12 search-container">
            <div class="input-group">
                <input 
                    ng-keyup="$event.keyCode === 13 && loadRewards()"
                    class="form-control reward-search" 
                    ng-model="query" 
                    type="text" 
                    placeholder="Search by name or description"/>
                <div class="input-group-addon icons-input"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <button class="btn btn-primary add-reward-button" ng-if="!isExpired()" ng-click="goToNewReward()">
                <i class="fas fa-plus"></i> Add Reward
            </button>
        </div>
    </section>
    <section class="row">
        <div class="col-md-12 col-xs-12">
            <div class="reward-list-pagination">
                <button ng-click="previousRewards()">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button ng-click="nextRewards()">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
            <table class="table" id="reward-list-table">
                <thead class="hidden-xs hidden-sm">
                    <tr>
                        <th width="20px">S/N</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Expires</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, discount) in rewards" ng-click="goToReward(discount._id)">
                        <td scope="row" class="hidden-xs hidden-sm">{{ (10 * (page - 1)) + (index + 1) }}</td>
                        <td class="icon">{{ discount.name }}</td>
                        <td class="icon" show-more>{{ discount.description }}</td>
                        <td>
                            <span ng-class="discount.status" class="plan-status">
                                {{discount.status}}
                            </span>
                        </td>
                        <td>{{ discount.endDate | date: 'longDate'}}</td>
                        <td class="action hidden-xs hidden-sm">
                            <i 
                                ng-class="discount.isActive ? 'fas fa-eye icon' : 'fas fa-eye-slash icon'"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Hide/Show"
                                ng-click="changeStatus($event, index, discount.isActive, 0)" 
                                class="activate"></i>
                            <!-- <i class="fas fa-trash icon delete" data-toggle="tooltip" data-placement="top" title="Delete" ng-click="deleteReward($event, discount._id)"></i> -->
                        </td>
                    </tr>
                    <tr ng-if="loadingRewards" class="loading-row">
                        <td class="hidden-xs hidden-sm"><div></div></td>
                        <td><div></div></td>
                        <td><div></div></td>
                        <td><div></div></td>
                        <td><div></div></td>
                        <td></td>
                    </tr>
                    <tr ng-if="!loadingRewards && rewards.length === 0" class="empty-row">
                        <td colspan="6">
                            No Rewards to display
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>