<div class="info-box card">
    <div class="loading text-center" ng-if="loading">
        <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i><span> Submiting</span>
    </div>
    <!-- <div class="text-center">
        <h2>Reward Creation</h2>
    </div> -->
    <div>
        <i 
            data-toggle="tooltip"
            data-placement="top"
            title="Click to go back to reward list"
            class="fas fa-arrow-circle-left reward-back-button"
            ng-click="goToRewardList()"></i>
        <p class="section-headers"  style="margin: 25px 0 25px 10px;display:inline-block;">
            <span ng-if="isNewReward()">Add new reward</span>
            <span ng-if="!isNewReward()">Edit existing reward</span>
        </p>
    </div>
    <div id="accordion" ng-if="showReviews()">
        <div class="success-card">
          <div class="success-card-header" id="reviewHeader">
            <h5 class="mb-0">
              <button class="success-card-btn" data-toggle="collapse" data-target="#reviewBody" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-long-arrow-alt-down"></i>
                The admin has requested changes for this reward. Click to show details
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
            </h5>
          </div>
      
          <div id="reviewBody" class="collapse success-card-body" aria-labelledby="reviewHeader" data-parent="#accordion">
            <div class="card-body">
              <ul>
                  <li ng-repeat="review in newReward.review">
                      <b>{{review.comment}}</b>
                      <br>
                      <span class="light">Made on {{review.timeStamp | date:"longDate"}}</span>
                    </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <form name="form">
        <div class="row profile-form-section">
            <div class="col-md-2">
                <p>Reward Info</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">Name: </label><span>*</span>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" name="name" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="e.g. Family Meal" ng-model="newReward.name" ng-class="{'form-control': true, 'error-input': isError(form.name)}" required/>
                                <div class="input-group-addon icons-input"><i class="fas fa-tags"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Description: </label>
                            <div class="input-group mb-2 mr-sm mb-sm-0">
                                <textarea type="text" class="form-control" id="description" name="description" ng-class="{'form-control': true, 'error-input': isError(form.description)}" aria-describedby="descriptionHelp" placeholder="Description.." ng-model="newReward.description" required></textarea>
                                <div class="input-group-addon icons-input"><i class="fas fa-info"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row profile-form-section">
            <div class="col-md-2">
                <p>Discount Info</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="">Discount</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text"  ng-value="calculatePercentage(newReward.price.old, newReward.price.new) | number : 2 " disabled>
                                <div class="input-group-addon icons-input"><i class="fas fa-percentage"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="oldPrice">Old Price: </label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" name="oldPrice" class="form-control" id="oldPrice" placeholder="0" ng-model="newReward.price.old"/>
                                <div class="input-group-addon icons-input"><i class="fas cu-naira"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="newPrice">New Price: </label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" name="newPrice" class="form-control" id="newPrice" placeholder="0" ng-model="newReward.price.new"/>
                                <div class="input-group-addon icons-input"><i class="fas cu-naira"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row text-center">
                    <h3>Your Reward Discount is {{ calculatePercentage(newReward.price.old, newReward.price.new) | number : 2 }}% Off</h3>
                </div> -->
            </div>
        </div>
        <div class="row profile-form-section">
            <div class="col-md-2">
                <p>Reward Time</p>
            </div>
            <div class="col-md-10">
                <div class="row" ng-if="!payRewardIsActive()">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="startDate">Please pick a start date: </label><br/>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input bs-datepicker class="form-control" id="startDate" name="startDate" ng-class="{'form-control': true, 'error-input': isError(form.startDate)}" type="text" ng-change="setEndDate(noOfDays)" ng-model="newReward.startDate" data-min-date="{{minDate}}" data-max-date={{maxDate}} required/>
                                <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
                            </div>
                            <small id="rangeHelp" class="form-text text-muted">This is when the users will start to see the re ward.</small>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="endDate">Please select number of days: </label><br/>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input id="noOfDate" class="form-control" name="noOfDays" ng-class="{'error-input': isError(form.noOfDays)}" type="number" ng-model="noOfDays" ng-change="setEndDate(noOfDays)" ng-min="4" ng-max="{{maxDays}}" required/>
                                <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
                            </div>
                            <small id="daysHelp" class="form-text text-muted">Minimum of <b>4</b> days. Your maximum number of days, based on subscription, is <b>{{maxDays}}</b>.</small><br/>
                            <small id="rangeHelp" class="form-text text-muted">The reward will expire on <b>{{newReward.endDate | date: 'longDate'}}</b>.</small>
                        </div>
                    </div>
                    <h3 class="text-center" ng-if="showTotal()">Total: <b>&#8358; {{amount}}</b></h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="appDays">Applicable Days: </label>
                            <div id="applicable-days-container">
                                <div class="select-group">
                                    <div class="button-group">
                                        <input type="radio" name="data-group" value="all" ng-model="selectedDayOption">
                                        <button type="button" data-value="all" class="data-group-button" ng-click="selectGroup('all')">All <i class="far fa-check-circle"></i></button>
                                    </div>
                                    <div class="button-group">
                                        <input type="radio" name="data-group" value="weekdays" ng-model="selectedDayOption">
                                        <button type="button" data-value="weekdays" class="data-group-button" ng-click="selectGroup('weekdays')">Weekdays <i class="far fa-check-circle"></i></button>
                                    </div>
                                    <div class="button-group">
                                        <input type="radio" name="data-group" value="weekends" ng-model="selectedDayOption">
                                        <button type="button" data-value="weekends" class="data-group-button" ng-click="selectGroup('weekends')">Weekends <i class="far fa-check-circle"></i></button>
                                    </div>
                                </div>
                                <div class="day-group">
                                    <div class="button-group" ng-repeat="_day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']">
                                        <input
                                            type="checkbox"
                                            name="_day"
                                            ng-checked="newReward.applicableDays.includes($index)"
                                            ng-value="$index">
                                        <button
                                            type="button"
                                            ng-click="day($index)"
                                            class="day-group-button">
                                            {{_day}} <i class="far fa-check-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <small id="appDaysHelp" class="form-text text-muted">Pick the days of the week that apply to you.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row profile-form-section">
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <label>Reward Categories: </label><br/>
                    <input type="checkbox" name="category" id="entertainment" ng-checked="categories.entertainment" ng-click="addCat('entertainment')"> <label for="entertainment">Entertainment </label>
                    <input type="checkbox" name="category" id="foodndrink" ng-checked="categories.foodndrink" ng-click="addCat('foodndrink')"> <label for="foodndrink">Food and Drink </label>
                    <input type="checkbox" name="category" id="gadgets" ng-checked="categories.gadgets" ng-click="addCat('gadgets')"> <label for="gadgets">Gadgets </label>
                    <input type="checkbox" name="category" id="groceries" ng-checked="categories.groceries" ng-click="addCat('groceries')"> <label for="groceries">Groceries </label>
                    <input type="checkbox" name="category" id="healthnbeauty" ng-checked="categories.healthnbeauty" ng-click="addCat('healthnbeauty')"> <label for="healthnbeauty">Health &amp; Beauty </label>
                    <input type="checkbox" name="category" id="shopping" ng-checked="categories.shopping" ng-click="addCat('shopping')"> <label for="shopping">Shopping </label>
                    <input type="checkbox" name="category" id="tickets" ng-checked="categories.tickets" ng-click="addCat('tickets')"> <label for="tickets">Tickets </label>
                    <input type="checkbox" name="category" id="travel" ng-checked="categories.travel" ng-click="addCat('travel')"> <label for="travel">Travel </label>
                    <br/>
                    <small id="categoryHelp" class="form-text text-muted">Please tick categories that best describe your business.</small>
                </div>
                <div class="form-group">
                    <label for="multiple">Can this reward be used multiple times: </label><br/>
                    <label><input type="radio" name="multiple" id="multiple" ng-model="newReward.multiple.status" ng-value="true"/> Yes </label>
                    <label><input type="radio" name="multiple" id="multiple" ng-model="newReward.multiple.status" ng-value="false"> No </label><br/>
                </div>
                <div class="form-group">
                    <label for="delivery">Can this reward be delivered: </label><br/>
                    <label><input type="radio" name="delivery" id="delivery" ng-model="newReward.delivery" ng-value="true"/> Yes </label>
                    <label><input type="radio" name="delivery" id="delivery" ng-model="newReward.delivery" ng-value="false"> No </label><br/>
                </div>
            </div>
        </div>
        <div class="row profile-form-section">
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="form-group" ng-if="!payRewardIsActive()">
                        <label for="end">Reward Pictures: </label><br/>
                        <div class="btn btn-success" ng-disabled="loading || uploading" data-toggle="modal" data-target="#croppingModal">Select Files</div>
                        <small id="endHelp" class="form-text text-muted">Sample Picture of Reward.</small>
                    </div>
                    <div class="row" ng-if="displayRewardPhotos()">
                        <div class="progress" ng-if="!payRewardIsActive()">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" ng-style="{'width': progress + '%'}" aria-valuemin="0" aria-valuemax="100">
                                <span class="text-center">{{progress === 100 ? 'Processing...' : progress + '%'}}</span>
                            </div>
                        </div>
                        <div class="preview-box" ng-repeat="(index, photo) in photos">
                            <h5 class="text-center clickable" ng-click="removeImage(index)" ng-if="!payRewardIsActive()"><i class="fas fa-2x fa-times-circle"></i></h5>
                            <img ng-src="{{photo.url}}" height="200" width="200"/>
                        </div>
                        <br>
                        <span ng-if="!payRewardIsActive()">
                            <button class="btn btn-success" ng-if="update" ng-disabled="loading || uploading" ng-click="upload(newReward._id, false)">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="row user-profile-action">
                    <button class="btn btn-primary btn-lg" ng-disabled="loading || uploading || isFormError(form)" ng-click="createReward(newReward)" ng-if="displayCreateButton()">Create Reward</button>
                    <button class="btn btn-primary btn-lg" ng-disabled="loading || uploading || isFormError(form)" ng-click="updateReward(newReward)" ng-if="displayUpdateButton()">Update Reward</button>
                    <button class="btn btn-primary btn-lg" ng-disabled="loading || uploading || isFormError(form)" ng-click="makePayment(newReward)" ng-if="displayPayAndUpdateButton()">Pay and Update Reward</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Croppig Modal -->
<div class="modal fade" id="croppingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3>Upload Gallery Image</h3>
                </div>
                <div class="modal-body text-center">
                    <div>
                        <h4>Images Must all be cropped to a 200x200 square.</h4>
                        <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                        <div>
                            <label for="imageupload">Select an Image</label>
                            <input class="form-control" type="file" accept="image/*" img-cropper-fileread image="image.src" id="imageupload"/>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="cropArea">
                                <canvas
                                    height="350"
                                    width="500"
                                    image="image.src"
                                    image-cropper
                                    cropped-image="image.dst"
                                    crop-height="200"
                                    crop-width="200"
                                    keep-aspect="true"
                                    touch-radiue="30"
                                    crop-area-bounds="bounds"
                                    ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-primary btn-sm" ng-click="fileCheck(image)">Add Image</button>
                    <button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>