<div id="reward-analytics-page">
  <section class="section-containers">
    <div class="row">
      <div class="col-sm-12 card">
        <i data-toggle="tooltip" data-placement="top" title="Click to go back to reward list" class="fas fa-arrow-circle-left reward-back-button" ng-click="goToAnalytics()"></i>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-12 card">
        <p class="section-headers" style="margin-bottom: 20px;">Reward Details</p>
        <div class="row">
          <div class="col-md-4 col-sm-12" style="padding-left: 0;">
            <span class="reward-info">
              <p>Name</p>
              <p class="capitalize">{{reward.name}}</p>
            </span>
          </div>
          <div class="col-sm-12 col-md-4" style="padding-left: 0;">
            <span class="reward-info">
              <p>Added</p>
              <p>{{reward.startDate | date: 'longDate'}}</p>
            </span>
          </div>
          <div class="col-sm-12 col-md-4" style="padding-left: 0;">
            <span class="reward-info">
              <p>Expires</p>
              <p>{{reward.endDate | date: 'longDate'}}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-12 card">
          <p class="section-headers" style="margin-bottom: 20px;">Generated Coupin vs Redeemed Coupin</p>
          <cp-reward-analytics-generated-vs-redeemed-coupins data="generatedVsRedeemed" reward="reward"></cp-reward-analytics-generated-vs-redeemed-coupins>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-6" style="padding-left: 0;">
          <div class="card">
              <p class="section-headers" style="margin-bottom: 20px;">Gender Distribution</p>
              <cp-reward-analytics-gender-distribution data="genderDistributionData"></cp-reward-analytics-gender-distribution>
          </div>
        </div>
        <div class="col-md-6" style="padding-right: 0;">
          <div class="card">
              <p class="section-headers" style="margin-bottom: 20px;">Age Distribution</p>
              <cp-reward-analytics-age-distribution data="ageDistributionData"></cp-reward-analytics-age-distribution>
          </div>
        </div>
      </div>
  </section>
</div>