<div class="jumbotron" ng-init="loadRewards()">
    <!-- <button class="btn btn-primary" ng-click="addReward()"><i class="fa fa-plus"></i> Add New Discount</button> -->
    <h4 class="text-center">All Your Rewards</h4>
    <form ng-submit="loadRewards()">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <input class="form-control" ng-model="query" type="text" placeholder="Search by name or description"/>
            </div>
            <div class="col-md-3 col-xs-12">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-success" ng-click="goToNewReward()"><i class="fa fa-plus"></i> Add Reward</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, discount) in rewards">
                        <th scope="row">{{ index + 1 }}</td>
                        <td class="icon" ng-click="goToReward(discount._id)">{{ discount.name }}</td>
                        <td class="icon" ng-click="goToReward(discount._id)">{{ discount.description }}</td>
                        <td>{{ discount.isActive ? 'Visible' : 'Hidden' }}</td>
                        <td><i ng-class="discount.isActive ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'" data-toggle="tooltip" data-placement="top" title="Hide/Show" ng-click="changeStatus(index, discount.isActive, 0)"></i></td>
                        <td><i class="fa fa-pencil icon" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="goToEditReward(discount._id)"></i></td>
                        <td><i class="fa fa-trash icon" data-toggle="tooltip" data-placement="top" title="Delete" ng-click="deleteReward(discount._id)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>