<div id="verify">
  <div class="loading text-center" ng-if="updating">
    <i class="fas fa-circle-notch fa-spin fa-2x"></i><span> Submiting</span>
  </div>
  <section class="reward-overview section-containers">
    <p class="section-headers">Overview of the last 30 days</p>

    <div class="overview-container">
      <div class="card quick-info">
        <h4 ng-if="!loadingStats">
          {{stats.active}}
        </h4>
        <h4 ng-if="loadingStats">
          <i class="fas fa-circle-notch fa-spin"></i>
        </h4>
        <h5>
          Active Rewards
        </h5>
      </div>
      <div class="card quick-info">
        <h4 ng-if="!loadingStats">
          {{stats.generated}}
        </h4>
        <h4 ng-if="loadingStats">
          <i class="fas fa-circle-notch fa-spin"></i>
        </h4>
        <h5>
          Generated Coupins
        </h5>
      </div>
      <div class="card quick-info">
        <h4 ng-if="!loadingStats">
          {{stats.redeemed}}
        </h4>
        <h4 ng-if="loadingStats">
          <i class="fas fa-circle-notch fa-spin"></i>
        </h4>
        <h5>
          Redeemed Coupins
        </h5>
      </div>
      <div class="card quick-info">
        <h4 ng-if="!loadingStats">
          {{stats.delivered}}
        </h4>
        <h4 ng-if="loadingStats">
          <i class="fas fa-circle-notch fa-spin"></i>
        </h4>
        <h5>
          Delivered Coupins
        </h5>
      </div>
    </div>
    <p style="margin-top: 10px;"><b>For more insights about your customer preferences go over to the Analytics
        dashboard or click <a style="color: #15A580;" ui-sref="dashboard.analytics">here</a></b></p>
  </section>
  <section class="section-containers" id="verification-page">
    <p class="section-headers">Customer Code Verification</p>
    <div class="row">
      <div class="col-sm-12" style="padding: 0;">
        <form ng-submit="">
          <div class="form-group">
            <input type="text" class="coupin-search" placeholder="Type in code to be verified.." ng-model="pin" />
            <button class="btn btn-success" type="submit" ng-click="verify(pin)" ng-disabled="loading">
              Verify
              <i class="fas fa-search" ng-if="!loading"></i>
              <i class="fas fa-spin fa-spinner" ng-if="loading"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row" ng-if="empty">
      <div class="card col-sm-9 empty">
        <h2 style="margin-bottom: 20px;">
          <i class="fas fa-exclamation-triangle"></i>
          This Coupon does not exist or has been used.
        </h2>
      </div>
    </div>
    <div class="row" ng-if="showTable() && !empty" style="margin-bottom: 40px;">
      <div class="card col-sm-12">
        <p class="section-headers" style="margin-bottom: 20px;">Customer Details</p>
        <h5 style="margin-bottom: 20px; color: #94989E;">Ask for verification of one of the following:</h5>
        <div class="row">
          <div class="col-md-4 col-sm-12" style="padding-left: 0;">
            <span class="customer-info">
              <p>Name</p>
              <p class="capitalize">{{booking.userId.name}}</p>
            </span>
          </div>
          <div class="col-sm-12 col-md-4" style="padding-left: 0;">
            <span class="customer-info">
              <p>Email</p>
              <p show-more class="break-word">{{booking.userId.email}}</p>
            </span>
          </div>
          <div class="col-sm-12 col-md-4" style="padding-left: 0;">
            <span class="customer-info">
              <p>Mobile Number</p>
              <p>{{booking.userId.mobileNumber}} </p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="showTable() && !empty" class="redeem-section">
      <div class="flex-spaced">
       <h4>Redeem: {{use.length + ' rewards'}}</h4>
       <!-- <label><input type="checkbox" ng-model="select.all"> Select All</label> -->
       <div>
        <button class="btn btn-success cancel-button" ng-disabled="cannotCancelAll()" data-toggle="modal"  data-target="#confirmationAllModal">
          Cancel All</button>
        <button class="btn btn-primary redeeem-button" ng-disabled="cannotRedeemAll()" data-toggle="modal" data-target="#confirmationAllModal">
          Redeem All</button>
       </div>
      </div>
    </div>

    <!--show on medium size screens and above-->
    <!-- <div ng-if="showTable() && !empty" class="hidden-xs hidden-sm"> -->
    <div ng-if="showTable() && !empty">
      <table class="table" id="verify-reward-table" style="margin-bottom: 10px;">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Expires On</th>
            <th>Status</th>
            <th>Expired</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index, reward) in rewards" ng-attr-id="{{'reward-' + index}}">
            <td scope="row" class="hidden-xs hidden-sm">
              <span>{{ index + 1 }}</span>
            </td>
            <td class="icon">{{ reward.id.name }}</td>
            <td class="icon break-word" show-more>{{ reward.id.description }}</td>
            <td class="icon">{{ reward.quantity }}</td>
            <td class="icon">{{ reward.id.endDate | date: 'longDate' }}</td>
            <td class="capitalize">{{ reward.status }}</td>
            <td>{{ expired(reward.id.endDate) ? 'Yes' : 'No' }}</td>
            <td ng-if="reward.status === 'pending'"><i class="fas fa-times" data-target="#confirmationModal" data-toggle="modal" ng-click="setSelectedReward(reward)"></i></td>
            <td ng-if="reward.status !== 'pending'"><i class="fas fa-handshake" data-target="#confirmationModal" data-toggle="modal" ng-click="setSelectedReward(reward)"></i></td>
            <!-- <td><button class="btn btn-xs btn-success" ng-if="!hasUsed(index)" ng-click="redeem(reward.id._id, index)" ng-disabled="updating">Redeem</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>

  <form class="modal fade" id="confirmationModal" name="confirmationModal" novalidate>
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header text-center">
              <h3>Please confirm your choice</h3>
          </div>

          <div class="modal-body"> 
              <p class="text-center">
                Are you sure you want to {{ selectedReward.status === 'pending' ? 'cancel' : 'redeem' }} {{ selectedReward.name }}'s order
              </p>
          </div>

          <div class="modal-footer">
              <button
              class="btn btn-secondary btn-sm"
              data-dismiss="modal"
              >
              No
              </button>
              <button
                  class="btn btn-primary btn-sm"
                  ng-if="selectedReward.status !== 'pending'"
                  ng-click="redeem(selectedReward.id)"
              >
                  Yes
              </button>
              <button
                  class="btn btn-primary btn-sm"
                  ng-if="selectedReward.status === 'pending'"
                  ng-click="cancel(selectedReward.id)"
              >
                  Yes
              </button>
          </div>
      </div>
    </div>
  </form>


  <form class="modal fade" id="confirmationAllModal" name="confirmationAllModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header text-center">
              <h3>Please confirm your choice</h3>
          </div>

          <div class="modal-body"> 
              <p class="text-center">
                Are you sure you want to {{ cannotCancelAll() ? 'redeem' : 'cancel' }} all bookings
              </p>
          </div>

          <div class="modal-footer">
              <button
              class="btn btn-secondary btn-sm"
              data-dismiss="modal"
              >
              No
              </button>
              <button
                  class="btn btn-primary btn-sm"
                  ng-if="cannotCancelAll()"
                  ng-click="redeem()"
              >
                  Yes
              </button>
              <button
                  class="btn btn-primary btn-sm"
                  ng-if="cannotRedeemAll()"
                  ng-click="cancel()"
              >
                  Yes
              </button>
          </div>
      </div>
    </div>
  </form>

    <!--show on small size screens and below-->
    <!-- <div ng-if="showTable() && !empty" class="hidden-md hidden-lg">
      <div 
        style="margin-bottom: 10px;"
        ng-repeat="(index, reward) in rewards" 
        ng-attr-id="{{'reward-' + index}}"
        class="card reward-list"
        ng-class="{'selected': isRewardSelected(index)}"
        ng-click="toggleReward(index, reward.status)">
        <div class="row">
            <div class="col-sm-12" style="padding-left: 0;">
              <span class="customer-info">
                <p>Reward Name</p>
                <p>{{ reward.id.name }}</p>
              </span>
            </div>
            <div class="col-sm-12" style="padding-left: 0;">
              <span class="customer-info">
                <p>Description</p>
                <p class="capitalize shorten">{{ reward.id.description }}</p>
              </span>
            </div>
            <div class="col-sm-12" style="padding-left: 0;">
              <span class="customer-info">
                <p>Expires On</p>
                <p>{{ reward.id.endDate | date: 'longDate' }}</p>
              </span>
            </div>
            <div class="col-sm-12" style="padding-left: 0;">
              <span class="customer-info">
                <p>Status</p>
                <p>{{ reward.status }}</p>
              </span>
            </div>
            <div class="col-sm-12" style="padding-left: 0;">
              <span class="customer-info">
                <p>Expired</p>
                <p>{{ expired(reward.id.endDate) ? 'Yes' : 'No' }}</p>
              </span>
            </div>
          </div>
      </div>
      <small><b>Note:</b> Select rewards to redeem by simply clicking on them to select/deselect</small>
    </div> -->
  </section>
</div>