/* Admin Login Box Styling */
.login-form {
  margin: 5%;
}

.dashed-bottom {
  border-bottom: 1px dashed grey;
}

.error {
  background: url('../img/error-sm.png') 5px 5px no-repeat,#e40000;
  border: 1px solid #e40000;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.error-input {
  border-color: #e40000 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228,0,0,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228,0,0,.6) !important;
}

.error-text {
  color: #e40000 !important;
}

.success {
  background: url('../img/success-sm.png') 5px 5px no-repeat,#67BC57;
  border: 1px solid #67BC57;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
/* Admin Login Box Styling */

/* Admin View Styling */
.admin-list-view {
  background: #f0f0f0;
  border-bottom: 1px solid #c0c0c0;
  height: 40px;
  margin: 0 !important;
}

.admin-list-view div {
  border-right: 1px solid #a0a0a0;
  height: 40px;
}

.admin-list-view div h5, .admin-list-view div button {
  margin-top: 5px;
}
/* Admin View Styling End */

#admin-login.registration {
  background: linear-gradient(to right bottom, #67BC57, deepskyblue);
}

.navbar-admin {
  background: #00ace6;
  border-radius: 0 !important;
  color: white;
}

.navbar-admin a {
  color: white;
}

.nav-admin > li > a:hover, .nav-admin > li > a:focus { 
  background: transparent !important;
}

.loginBox {
  background: rgba(0, 0, 0, .5);
  border-radius: 3px;
  color: white;
  height: inherit;
  margin: 5% auto;
  padding: 1%;
  width: 50%;

  /*Shadow*/
  box-shadow: 1px 1px 3px #a0a0a0;
}