.btn-full{
  width: 100%;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #F49A40;
  outline: none;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-color: rgb(206, 130, 54) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
  outline: none;
}

.btn-primary:hover,
.btn-primary:hover:disabled {
  background-color: rgb(218, 136, 53);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1.5px);
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #F49A40;
  outline: none;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary {
  color: #F49A40;
  background-color: white;
  border: 1px solid #F49A40;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: #fff;
  background-color: rgb(228, 144, 60);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color:rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}

.btn-outline-primary:active:hover,
.btn-outline-primary.active:hover,
.open > .dropdown-toggle.btn-outline-primary:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.open > .dropdown-toggle.btn-outline-primary:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn-outline-primary.focus {
  color: #fff;
  background-color: rgb(206, 130, 54);
  border-color: rgb(206, 130, 54);
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-image: none;
}

.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary[disabled].focus,
fieldset[disabled] .btn-outline-primary.focus {
  background-color: rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}

.btn-outline-primary .badge {
  color: rgb(218, 136, 53);
  background-color: #fff;
}