body {
    /* background: #000428; /* fallback for old browsers
    background: -webkit-linear-gradient(left, #000428, #004e92);
    background: -moz-linear-gradient(left, #000428, #004e92);
    background: -o-linear-gradient(left, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92); Chrome 10-25, Safari 5.1-6 */

    /* background-color: #F8FFFE; */
    background-color: #dbfaf2;
    /* background-color: #dffffa; */
}

option {
  text-transform: capitalize !important;
}

#user-details > div:nth-child(even) {
  border-bottom: 1px solid gray;
}

.banner-box {
  border: 1px solid lightgray;
  height: 300px;
  max-height: 300px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  overflow: hidden;
  width: 600px;
}

.banner-display {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
  position: relative;
}

.banner-inner {
  background: rgba(0, 0, 0, .7);
  color: white;
  cursor: pointer;
  display: flex;
  padding: 10px;
  position: absolute;
  right: 25px;
  top: 25px;

  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.capitalize {
  text-transform: capitalize;
}

.red-link,
.red-link:focus,
.red-link:hover {
  color: inherit !important;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.my-card {
  border: 1px solid gray;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .6);
  margin: 10px auto;
  padding-bottom: 10px;
}

.my-card-head {
  background: #23527c;
  color: white;
  padding: 10px;
  min-height: 30px;
}

.my-card-head > h4 {
  letter-spacing: 0.5em;
}

.my-card-body {
  min-height: 200px;
  padding: 5px;
}

.my-card-body > ul {
  line-height: 2em;
}

.my-card-footer {
  bottom: 20px;
  padding: 10px   5px;
  width: 100%;
}

.logo-box {
  background-position: center;
  background-size: cover;
  border: 1px solid lightgray;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
  width: 200px;
  position: relative;
  top: 40px;
  left: 10px;
  border-radius: 5px;
}

.logo-box > .inner {
  background: rgba(0, 0, 0, .4);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo-box > .inner:hover {
  opacity: 1;
}

.box-show {
  opacity: 1 !important;
}

.pro-text {
  font-size: 14px;
}

.bottom-space {
    padding-bottom: 20px;
}

.btn-full{
  width: 100%;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #F49A40;
  outline: none;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-color: rgb(206, 130, 54) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
  outline: none;
}

.btn-primary:hover,
.btn-primary:hover:disabled {
  background-color: rgb(218, 136, 53);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1.5px);
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #F49A40;
  outline: none;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary {
  color: #F49A40;
  background-color: white;
  border: 1px solid #F49A40;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: #fff;
  background-color: rgb(228, 144, 60);
}
.btn-outline-primary:hover {
  color: #fff;
  background-color:rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}
.btn-outline-primary:active:hover,
.btn-outline-primary.active:hover,
.open > .dropdown-toggle.btn-outline-primary:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.open > .dropdown-toggle.btn-outline-primary:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn-outline-primary.focus {
  color: #fff;
  background-color: rgb(206, 130, 54);
  border-color: rgb(206, 130, 54);
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-image: none;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary[disabled].focus,
fieldset[disabled] .btn-outline-primary.focus {
  background-color: rgb(218, 136, 53);
  border-color: rgb(218, 136, 53);
}
.btn-outline-primary .badge {
  color: rgb(218, 136, 53);
  background-color: #fff;
}

.center-item {
  display: block;
  margin: auto;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.icon {
  cursor: pointer;
}

.info-box {
    background: white;
    border-radius: 2px;
    margin-top: 20px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
}

.jumbotron {
  background: white !important;
}

.jumbo-headers {
  width: 33%;
  border: none;
}

.loading {
  background: rgba(255, 255, 255, .8);
  color: rgb(218, 136, 53);
  height: 93%;
  padding-top: 30%;
  position: absolute;
  width: 95%;
  z-index: 10000;
}

.loading span {
  font-size: 30px;
}

.loading i span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo {
  border-radius: 10px;
  height: 180px;
  width: 180px;

  /* Box Shadow */
  box-shadow: 2px 2px 4px black;
}

.merchant-space {
  padding: 20px 60px 20px 60px;
}

.nav-link:hover {
  background: white !important;
  border: none;
} 


.nav-merch, .nav-merch:focus {
    color: black !important;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.nav-merch:hover,
.nav-active {
    background: #000F3B !important;
    color: white !important;
}

.navbar {
    border: 0px !important;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0px 3px rgba(21, 165, 128, 0.16);
}

#merchant-menu {
  padding: 0;
}

.merchant-information {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.merchant-name {
  font-size: 16px;
  font-weight: 600;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  color: #454D57;
}

.merchant-email {
  font-size: 13px;
  color: #B4BBC5;
}

.merchant-logo {
  background-color: #efefef;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 7.25rem;
  width: 7.25rem;
}

.menu a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #94989E;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.menu a:hover, .menu a.active {
  color: #15A580;
  background-color: transparent;
}

.menu a:hover::after, .menu a.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #15A580;
}

.menu a i {
  margin-right: 10px;
  font-weight: 12px;
}

.row-no-space {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.settings-sub {
  border-right: 1px solid lightgray;
  min-height: 400px;
}

.settings-sub > h5 {
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  line-height: 2.4em;
  padding-left: 5px;
  margin-bottom: 0;
  margin-top: 0;

  transition-duration: 150ms;
  transition-property: color background-color border-color;
  transition-timing-function: linear; 
}

.settings-sub > h5:nth-child(odd) {
  background-color: lightgray;
}

.settings-sub > h5:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #204d74;
}

.active {
  color: #fff;
  background-color: rgb(218, 136, 53);
  border-color: #204d74;
}

/* Padding */
.padding-none {
  padding: 0 !important;
}

.padding-x-none {
  padding-left: 0;
  padding-right: 0;
}

/* Margin */
.margin-y-sm {
  margin-bottom: 10px;
  margin-top: 10px;
}

.selected {
  background: #2e6da4;
  color: white;
}

.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(21, 165, 128, 0.16);
  padding: 20px;
}

.section-containers {
  margin: 50px 0;
}

.section-headers, .section-headers * {
  font-weight: 600;
  font-size: 19px;
  line-height: 15px;
  text-align: left;
  color: #454D57;
  margin-bottom: 30px
}

.quick-info {
  width: 250px;
  display: inline-block;
}

.quick-info:not(:first-child) {
  margin-left: 30px;
}

.quick-info h4 {
  font-weight: 700;
  font-size: 35px;
  text-align: left;
  color: #454D57;
  margin: 0;
}

.quick-info h5 {
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: #878D93;
  margin: 12px 0 5px 0;
}

.profile-section-card {
  padding-top: 45px;
}

.profile-form-section {
  margin-bottom: 40px;
}

.profile-form-section p {
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  text-align: left;
  color: #454D57;
  margin-bottom: 30px;
}

.location-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
}

.user-profile-action {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.user-profile-action .btn {
  font-size: 15px;
}

form .row {
  margin-bottom: 15px;
}

#billing-info .billing-plans {
  padding-top: 30px;
  padding-bottom: 50px;
}

#billing-info .billing-plans .plans {
  display: flex;
}

#billing-info .billing-plans .plans .plan {
  /* height: 300px; */
  width: 250px;
  margin-right: 20px;
  cursor: pointer;
}

#billing-info .billing-plans .plans .plan .card {
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-top: transparent solid 5px;
  position: relative;
  padding-top: 15px;
}

#billing-info .billing-plans .plans .plan .card .select-indicator {
  display: block;
  border: solid 2px #15A580;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  right: 0;
  transition: 0.5s all;
}
#billing-info .billing-plans .plans .plan .card .select-indicator:before {
  content: '';
  height: 11.5px;
  width: 11.5px;
  background-color: #15A580;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  transform-origin: 5px 5px;
}

#billing-info .billing-plans .plans .plan input[type="radio"].billing-plan {
  visibility: hidden;
  position: absolute;
}

#billing-info .billing-plans .plans .plan .card:hover,
#billing-info .billing-plans .plans .plan input[type="radio"]:checked ~ .card {
  box-shadow: 0px 3px 10px rgba(21, 165, 128, 0.16);
  border-top-color: #15A580;
}

#billing-info .billing-plans .plans .plan .card:hover {
  transform: translateY(-3px);
}

#billing-info .billing-plans .plans .plan .card:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 6px rgba(21, 165, 128, 0.16);
}


#billing-info .billing-plans .plans .plan input[type="radio"]:checked ~ .card .select-indicator:before {
  transform: scale(1);
}

#billing-info .billing-plans .plans .plan .card .plan-header {
  /* height: 50px; */
  padding: 0 0 10px;
  font-weight: 600;
  font-size: 17px;
  position: relative;
  border-bottom: 1px solid rgb(219, 222, 227);
}

#billing-info .billing-plans .plans .plan .card .plan-body {
  min-height: 160px;
  padding: 20px 0 10px;
  margin: 0;
}

#billing-info .billing-plans .plans .plan .card .plan-body p{
  font-size: 12px;
}

#billing-info .billing-plans .plans .plan .card .plan-footer {
  padding: 16px 0 0;
  font-weight: 600;
  font-size: 17px;
  border-top: 1px solid rgb(219, 222, 227);
}

table.table {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(21, 165, 128, 0.16);
}

table.table tr th, table.table tr td {
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #efefef;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 50px !important; */
  max-width: 150px;
}

table.table tr th:first-child, table.table tr td:first-child {
  padding-left: 30px;
}

table.table tr th {
  color: #a4a4a4;
  /* color: #94989E; */
  font-weight: 500;
  text-transform: uppercase;
  font-size:12px;
  border-bottom-width: 1px;
}

table.table tr td {
  cursor: pointer;
}

table.table tr td.action {
  width: 45px;
}

table.table tr td.action i {
  vertical-align: baseline;
  margin-right: 13px;
  padding: 5px;
  color: #a4a4a4;
  visibility: hidden;
}

table.table tr:hover td.action i {
  visibility: visible;
}

table.table tr td.action i.delete:hover {
  color: #E51B24;
}

table.table tr td.action i.activate:hover {
  color: #5677FC;
}

table.table tr.loading-row td div {
  width: 100%;
  height: 20px;
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
  background-size: 50px 200px;
  background-position: -29% 0;
  background-repeat: no-repeat;
  animation: shine 1.5s infinite ease-out;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

table.table tr.loading-row td:first-child div {
  width: 20px;
}

.plan-status {
  /* width: 73px; */
  height: 23px;
  border-radius: 11.5px;
  background: #f0f0f0;
  font-size: 11px;
  padding: 5px 7px;
  text-transform: capitalize;
}

.plan-status.expired {
  background: #ffe8e9;
  color: #E51B24;
}

.plan-status.active {
  background: #CDFAF4;
  color: #15A580;
}

.plan-status.draft {
  background: #fff;
  color: #8A8A8A;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
}
.plan-status.isPending {
  background: #FFEBD6;
  color: #F49A40;
}

.plan-status.review {
  background: #DBE2FF;
  color: #5677FC;
}

.plan-status.inactive {
  background: #5A5959;
  color: #F0F0F0;
}

#reward-list-page {
  padding-top: 30px;
}

#reward-list-page .reward-search {
  font-size: 15px !important;
  text-indent: 15px;
}

#reward-list-page .search-container i {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.reward-back-button {
  color: #e6e6e6;
  margin-right: 10px;
}

.reward-back-button:hover {
  color: inherit;
  cursor: pointer;
}

/*** the button group styling for selecting applicable days ***/
#applicable-days-container .select-group, #applicable-days-container .day-group {
  width: 550px;
  display: flex;
  align-items: stretch;
}

#applicable-days-container .button-group {
  display: inline-block;
  flex: 1;
}

#applicable-days-container .button-group button i {
  display: none;
}

#applicable-days-container .button-group input[type="radio"]:checked ~ button,
#applicable-days-container .button-group input[type="checkbox"]:checked ~ button {
  background-color: #5cb85c;
  color: #fff;
}

#applicable-days-container .button-group input[type="radio"]:checked ~ button i,
#applicable-days-container .button-group input[type="checkbox"]:checked ~ button i {
  display: inline-block;
  color: #fff;
  margin-left: 5px;
}

#applicable-days-container .button-group input[type="radio"],
#applicable-days-container .button-group input[type="checkbox"] {
  display: none;
}

#applicable-days-container button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #5cb85c;
  color: #5cb85c;
  outline: none;
  width: 100%;
}

#applicable-days-container button.active, #applicable-days-container button:hover {
  background-color: #5cb85c;
  color: #fff;
}

#applicable-days-container .day-group .button-group:not(:first-of-type) button,
#applicable-days-container .select-group .button-group:not(:first-of-type) button {
  border-left: 0;
}

#applicable-days-container .day-group .button-group button:hover,
#applicable-days-container .select-group .button-group button:hover,
#applicable-days-container .day-group .button-group input[type="checkbox"]:checked ~ button {
  border-right-color: #fff;
}

#applicable-days-container div.select-group {
  margin-bottom: 20px;
}

/*** end of the button group styling for selecting applicable days ***/

/*** custom naira icon ***/
.cu-naira::before {
 content: '\20A6'
}
/*** end of custom naira icon ***/

@media (max-width: 767px) {
  .merchant-space {
    margin-top: 40px;
  }
}