body {
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #000428, #004e92);
    background: -moz-linear-gradient(left, #000428, #004e92);
    background: -o-linear-gradient(left, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
}

#user-details > div:nth-child(even) {
  border-bottom: 1px solid gray;
}

.icons-input {
  background: linear-gradient(to right bottom, #67BC57, deepskyblue);
  border: 1px solid linear-gradient(to right bottom, #67BC57, deepskyblue);
  color: white;
}

.banner-box {
  border: 1px solid lightgray;
  height: 300px;
  max-height: 300px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  overflow: hidden;
  width: 600px;
}

.banner-display {
  background-position: center;
  background-size: cover;
  height: 40%;
  width: 100%;
}

.banner-inner {
  background: rgba(0, 0, 0, .7);
  color: white;
  cursor: pointer;
  display: flex;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 50px;

  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.capitalize {
  text-transform: capitalize;
}

.my-card {
  border: 1px solid gray;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .6);
  margin: 10px auto;
  padding-bottom: 10px;
}

.my-card-head {
  background: #23527c;
  color: white;
  padding: 10px;
  min-height: 30px;
}

.my-card-head > h4 {
  letter-spacing: 0.5em;
}

.my-card-body {
  min-height: 200px;
  padding: 5px;
}

.my-card-body > ul {
  line-height: 2em;
}

.my-card-footer {
  bottom: 20px;
  padding: 10px   5px;
  width: 100%;
}

.logo-box {
  background-position: center;
  background-size: cover;
  border: 1px solid lightgray;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
  width: 200px;
}

.logo-box > .inner {
  background: rgba(0, 0, 0, .7);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.logo-box > .inner:hover {
  opacity: 1;
}

.box-show {
  opacity: 1 !important;
}

.pro-text {
  font-size: 14px;
}

.bottom-space {
    padding-bottom: 20px;
}

.btn-full{
  width: 100%;
}

.btn-outline-primary {
  color: #337ab7;
  background-color: white;
  border-color: #2e6da4;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #204d74;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-outline-primary:active:hover,
.btn-outline-primary.active:hover,
.open > .dropdown-toggle.btn-outline-primary:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.open > .dropdown-toggle.btn-outline-primary:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn-outline-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-image: none;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary[disabled].focus,
fieldset[disabled] .btn-outline-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-outline-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.center-item {
  display: block;
  margin: auto;
}

.container-fluid {
    padding-left: 0px;
}

.icon {
  cursor: pointer;
}

.info-box {
    background: white;
    border-radius: 2px;
    margin-top: 20px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
}

.jumbotron {
  background: white !important;
}

.jumbo-headers {
  width: 33%;
  border: none;
}

.loading {
  background: rgba(255, 255, 255, .8);
  color: #337ab7;
  height: 93%;
  padding-top: 30%;
  position: absolute;
  width: 95%;
  z-index: 10000;
}

.loading span {
  font-size: 30px;
}

.loading i span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo {
  border-radius: 10px;
  height: 180px;
  width: 180px;

  /* Box Shadow */
  box-shadow: 2px 2px 4px black;
}

.merchant-space {
  padding: 20px;
}

.nav-link:hover {
  background: white !important;
  border: none;
} 


.nav-merch, .nav-merch:focus {
    color: black !important;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.nav-merch:hover,
.nav-active {
    background: #000F3B !important;
    color: white !important;
}

.navbar {
    border: 0px !important;
}

.row-no-space {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.settings-sub {
  border-right: 1px solid lightgray;
  min-height: 400px;
}

.settings-sub > h5 {
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  line-height: 2.4em;
  padding-left: 5px;
  margin-bottom: 0;
  margin-top: 0;

  transition-duration: 150ms;
  transition-property: color background-color border-color;
  transition-timing-function: linear; 
}

.settings-sub > h5:nth-child(odd) {
  background-color: lightgray;
}

.settings-sub > h5:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #204d74;
}

.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #204d74;
}

/* Padding */
.padding-none {
  padding: 0 !important;
}

.padding-x-none {
  padding-left: 0;
  padding-right: 0;
}

/* Margin */
.margin-y-sm {
  margin-bottom: 10px;
  margin-top: 10px;
}

.selected {
  background: #2e6da4;
  color: white;
}