.modal-dialog .modal-content {
  background-color: #252525;
}

.modal-dialog .modal-content .modal-header {
  /* background-color: #313237; */
  border-bottom-color: #313237;
  /* border: 0; */
}

.modal-dialog .modal-content .modal-footer {
  border-top-color: #313237;
  /* background-color: #313237; */
  /* border: 0; */
}

.modal-dialog .modal-content .modal-header h3 {
  margin: 0;
}
