/* Admin Login Box Styling */
.login-form {
    margin: 5%;
}

.error {
    background: url('../img/error-sm.png') 5px 5px no-repeat,#e40000;
    border: 1px solid #e40000;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.error-input {
    border-color: #e40000 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228,0,0,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228,0,0,.6) !important;
}

.error-text {
    color: #e40000 !important;
}

.success {
    background: url('../img/success-sm.png') 5px 5px no-repeat,#67BC57;
    border: 1px solid #67BC57;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
/* Admin Login Box Styling */

/* Admin View Styling */
.admin-list-view {
    background: #f0f0f0;
    border-bottom: 1px solid #c0c0c0;
    height: 40px;
    margin: 0 !important;
}

.admin-list-view div {
    border-right: 1px solid #a0a0a0;
    height: 40px;
}

.admin-list-view div h5, .admin-list-view div button {
    margin-top: 5px;
}
/* Admin View Styling End */

/*General Styling*/
.body {
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

td::first-letter {
    text-transform: uppercase;
}

.btn-big {
    background: white;
    color: deepskyblue;
    font-size: 2em;
    height: 100px;
    width: 80%;
}

#accordion {
    display: block;
    margin: auto;
    width: 80%;
}

.success-card-header {
    background: #67BC57;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    padding: 3px;
    text-align: center;
}

.success-card-body {
    border: 2px solid #67BC57;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

.success-card-btn,
.success-card-btn:active,
.success-card-btn:focus {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
    outline: none !important;
}

.center-buttons {
    padding: 100px;
}

.clickable {
    cursor: pointer;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:200px;
    height:200px;
}

.crop-area-modal {
    background: #E4E4E4;
    display: block;
    /* overflow: hidden; */
    width:200px;
    height:200px;
}

/* .cropArea canvas {
    margin: 0 !important;
} */

.form-page {
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.inline-body {
    display: block;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.jumbotron-box {
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.padding-5-all {
    padding: 5px;
}

.padding-5-x {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-10-all {
    padding: 10px;
}

.padding-10-x {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-20-y {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bottom-space {
    margin-bottom: 50px;
}

.center-img {
    display: block;
    margin: auto;
}

.custom, .custom:active , .custom:focus {
    background: deepskyblue;
    border: deepskyblue;
    color: white;
    outline: none;
}

.custom:hover {
    background: #00ace6;
    border: #00ace6;
    color: white;
    outline: none;
}

.dashboard-request {
    background: #00ace6;
    color: white;
    padding-bottom: 0 !important;
}

.home-nav-inv > div {
    border-bottom: 1px solid #00ace6;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.home-nav > div {
    transition-duration: 200ms;
    transition-timing-function: linear;
}


.home-nav > div:hover {
    background: #00ace6;
    color: white;
}

.home-active-inv,
.home-nav-inv > div:hover {
    text-shadow: 0 0 5px white;
}

.home-active {
    color: #00ace6;
}

.dashboard-request > div > div > a {
    color: white;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.dashboard-request > div > div > a:hover,
.dashboard-request > div > div > a:active,
.dashboard-request > div > div > a:focus {
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.footer {
    color: white;
}

.light {
    font-weight: 100;
}

.loading-screen {
    background: rgba(255, 255, 255, .5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 23;
}

.banner-box {
    background: rgba(0, 0, 0, .5);
    background-image: url("./../img/photo-camera.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, .5);
    display: flex;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.banner-box > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.logo-box {
    background: rgba(0, 0, 0, .5);
    background-image: url("./../img/photo-camera.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, .5);
    height: 200px;
    width: 200px;
}

.banner-box:hover,
.logo-box:hover {
    border: 1px solid white;
    background: rgba(0, 0, 0, .9);
    background-image: url("./../img/photo-camera.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-space-text {
    font-size: 18px;
    padding: 20px;
}

.registration {
    background: linear-gradient(to right bottom, #67BC57, deepskyblue);
    color: white;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.right {
    float: right;
}

.left-divider {
    border-left: 1px solid lightgray;
    height: 40%;

    transform: translateY(30%);
    -moz-transform: translateY(30%);
    -o-transform: translateY(30%);
    -webkit-transform: translateY(30%);
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.margin-y-20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar-admin {
    background: #00ace6;
    border-radius: 0 !important;
    color: white;
}

.navbar-admin a {
    color: white;
}

.nav-admin > li > a:hover, .nav-admin > li > a:focus { 
    background: transparent !important;
}

.no-space-below {
    margin-bottom: 0px !important;
}

.table-holder {
    padding: 2% 5%;
    margin: 5px auto;
}

/* Vertical Divider */

.vertical-divider {
  position: absolute;
  z-index: 10;
  font-size: 20px;
  top: 50%;
  left: 42%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 45%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

/*.vertical-divider span {
    background: rgba(0,0,0,.5);
    padding: 8px;
    color: white;
    border-radius: 24px;
    z-index: 9;
}*/

.vertical-divider:before, 
.vertical-divider:after {
  position: absolute;
  left: 42%;
  content: '';
  z-index: 1;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 2rem);
}

.row-divided > .vertical-divider {
  height: calc(40% - 1rem);    
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}

/* General Styling End */

.loginBox {
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: white;
    height: inherit;
    margin: 5% auto;
    padding: 1%;
    width: 50%;

    /*Shadow*/
    box-shadow: 1px 1px 3px #a0a0a0;
}

/* Merchant Registration */
.merchantRegBox {
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: white;
    height: inherit;
    margin: 5% auto;
    padding: 1%;
    width: 90%;

    /*Shadow*/
    box-shadow: 1px 1px 3px #a0a0a0;
}

.merchantRegBox small {
    color: gray;
}

.merchantRegBox small b {
    color: white;
}

.merchantRegBox form {
    margin: 5% 5%;
}

.merchantRegBox .top-label {
    background: linear-gradient(to right bottom, #67BC57, deepskyblue);
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 3px #c0c0c0;
    color: white;
    height: inherit;
    font-family: FontAwesome;
    font-size: 32px;
    line-height: 2em;
    margin-bottom: 50px !important;
    width: 100%;
}
/* Merchant Registration End */

/* Alert */
.top-right {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50%;
    z-index: 9000;
}
/* Alert End */
/* End of Merchant Profile Styling */

.cropArea {
    background: #E4E4E4;
    height:350px;
    margin: auto;
    overflow: hidden;
    width:500px;
}

.cropArea-banner {
    background: #E4E4E4;
    height:400px;
    margin: auto;
    overflow: hidden;
    width:1000px;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}
  
.modal-backdrop.am-fade > .ng-enter {
    opacity: 0;
}

.modal-backdrop.am-fade > .ng-enter > .ng-enter-active {
    opacity: .5;
}

.modal-backdrop.am-fade > .ng-leave {
    opacity: .5;
}
.modal-backdrop.am-fade > .ng-leave > .ng-leave-active {
    opacity: 0;
}

.modal-banner {
    width: 1040px;
}

.preview-box {
    display: inline-block;
    height: 250px;
    margin: auto 10px;
    width: 200px;
}

.plan {
    padding: 30px;
}

.plan-def {
    background-color: white;
}

#plan-1, .plan-1 {
    background: #5DBD6C;
}

#plan-2, .plan-2 {
    background: #4DBE8F;
}

#plan-3, .plan-3 {
    background: #34BEC0;
}

.price-1 {
    color: #5DBD6C !important;
}

.price-2 {
    color: #4DBE8F;
}

.price-3 {
    color: #34BEC0;
}

.plan-header {
    padding-bottom: 5px;
    padding-top: 5px;
}

.plan-footer {
    padding: 3px;
    letter-spacing: 0.2em;
}

.plan-inner {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    min-height: 200px;
    min-width: 100%;
    padding: 10px;
}

.plan-inner > span,
.plan-body > span {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.plan-title {
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 0.3em;
}

.plan-price {
    display: block;
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 0.2em;
    margin-bottom: 15px;
    margin-top: 15px;
}

.plan-price > small {
    display: block;
    font-size: 0.4em;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
}

.plan-body {
    font-weight: 200;
    letter-spacing: 0.1em;
    margin: 5px;
    padding: 5px;
}

.plan-body > span {
    margin-bottom: 3px;
    margin-top: 3px;
}

.plan-body > hr {
    min-height: 1px;
    display: block;
    margin: auto;
    width: 40%;
}

.btn-full{
    width: 100%;
}
  
  .btn-outline-primary {
    color: #337ab7;
    background-color: white;
    border-color: #2e6da4;
  }
  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #204d74;
  }
  .btn-outline-primary:active,
  .btn-outline-primary.active,
  .open > .dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .btn-outline-primary:active:hover,
  .btn-outline-primary.active:hover,
  .open > .dropdown-toggle.btn-outline-primary:hover,
  .btn-outline-primary:active:focus,
  .btn-outline-primary.active:focus,
  .open > .dropdown-toggle.btn-outline-primary:focus,
  .btn-outline-primary:active.focus,
  .btn-outline-primary.active.focus,
  .open > .dropdown-toggle.btn-outline-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
  }
  .btn-outline-primary:active,
  .btn-outline-primary.active,
  .open > .dropdown-toggle.btn-outline-primary {
    background-image: none;
  }
  .btn-outline-primary.disabled:hover,
  .btn-outline-primary[disabled]:hover,
  fieldset[disabled] .btn-outline-primary:hover,
  .btn-outline-primary.disabled:focus,
  .btn-outline-primary[disabled]:focus,
  fieldset[disabled] .btn-outline-primary:focus,
  .btn-outline-primary.disabled.focus,
  .btn-outline-primary[disabled].focus,
  fieldset[disabled] .btn-outline-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .btn-outline-primary .badge {
    color: #337ab7;
    background-color: #fff;
  }

  .white-text {
      color: white !important;
  }