table.table {
  border-radius: 5px;
  background-color: #313237;
  /* box-shadow: 0px 1px 4px rgba(21, 165, 128, 0.23); */
}

table.table tr.selected {
  /* background-color: rgb(226, 249, 245); */
  background-color: #252525;
  color: inherit;
}

table.table tr.empty-row td {
  text-align: center;
  font-size: 20px;
  color: #a4a4a4;
  font-weight: 500;
}

table.table tr th, table.table tr:not(:last-child) td {
  border: 0;
  border-bottom: 1px solid #252525;
}

table.table tr th, table.table tr td {
  padding: 15px;
  text-align: left;
  max-width: 150px;
}

table.table tr th.shorten, table.table tr td.shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.table tr:not(.empty-row) th:first-child, table.table tr:not(.empty-row) td:first-child {
  padding-left: 30px;
}

table.table tr th {
  color: #a4a4a4;
  /* color: #94989E; */
  font-weight: 500;
  text-transform: uppercase;
  font-size:12px;
  border-bottom-width: 1px;
}

table.table tr td {
  cursor: pointer;
}

table.table tr td.action {
  width: 45px;
}

table.table tr td.action i {
  vertical-align: baseline;
  margin-right: 13px;
  padding: 5px;
  color: #a4a4a4;
}

table.table tr:hover td.action i {
  visibility: visible;
}

table.table tr td.action i.delete:hover {
  color: #E51B24;
}

table.table tr td.action i.activate:hover {
  color: #5677FC;
}

table.table tr.loading-row td div {
  width: 100%;
  height: 20px;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
  background-size: 50px 200px;
  background-position: -29% 0;
  background-repeat: no-repeat;
  animation: shine 1.5s infinite ease-out;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

table.table tr.loading-row td:first-child div {
  width: 20px;
}

@media
only screen and (max-width: 768px) {
  table.table, table.table thead, table.table tbody, table.table th, table.table td, table.table tr {
    display: block;
  }

  table.table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.table tr:not(.empty-row) { 
    padding-top: 12px;
  }

  table.table tr:not(:last-child) { 
    border-bottom: 1px solid #252525; 
  }

  table.table tr td {
    border: none !important;
    position: relative;
    max-width: 100%;
  }
  
  table.table  tbody tr th:before, table.table  tr td:before {
    position: absolute;
    top: 0;
    color: #94989E;
    font-size: 12px;
  }

  table.table tr td.action i {
    visibility: visible;
  }

  table.table tr td span.plan-status {
    display: inline-block;
  }

  #verify-reward-table td:nth-of-type(1):before { content: "S/N"; }
  #verify-reward-table td:nth-of-type(2):before { content: "Name"; }
  #verify-reward-table td:nth-of-type(3):before { content: "Description"; }
  #verify-reward-table td:nth-of-type(4):before { content: "Quantity"; }
  #verify-reward-table td:nth-of-type(5):before { content: "Expires On";}
  #verify-reward-table td:nth-of-type(6):before { content: "Status";}
  #verify-reward-table td:nth-of-type(7):before { content: "Expired";}

  #reward-list-table tr:not(.empty-row) td:nth-of-type(1):before { content: "S/N"; }
  #reward-list-table tr:not(.empty-row) td:nth-of-type(2):before { content: "Name"; }
  #reward-list-table tr:not(.empty-row) td:nth-of-type(3):before { content: "Description"; }
  #reward-list-table tr:not(.empty-row) td:nth-of-type(4):before { content: "Status"; }
  #reward-list-table tr:not(.empty-row) td:nth-of-type(5):before { content: "Expires"; }
  #reward-list-table tr:not(.empty-row) td:nth-of-type(6):before { content: ""; }

  #payment-history-table tr td:nth-of-type(1):before { content: "S/N" }
  #payment-history-table tr td:nth-of-type(2):before { content: "Plan" }
  #payment-history-table tr td:nth-of-type(3):before { content: "Paid On" }
  #payment-history-table tr td:nth-of-type(4):before { content: "Expires On" }
  #payment-history-table tr td:nth-of-type(5):before { content: "Reference" }
  #payment-history-table tr td:nth-of-type(6):before { content: "" }
}

th.dow {
  color: #333 !important;
}