ul {
  width: 80%;

  li {
    margin-bottom: 5px;
  }
}

.auth-container {
  background-image: url('../../assets/auth-back.jpg');
  height: 100%;
  width: 100%;

  .auth-inner-left {
    align-items: center;
    background: rgba(26, 200, 237, 0.5);
    color: white;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 5%;
    width: 50%;
    vertical-align: top;
  }
  
  .auth-inner-right {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    vertical-align: top;
  }
}

.dot {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 5px;
}

.header {
  border-width: 0.5px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.features {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 5px;
}

.form-holder {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  height: 70%;
  width: 80%;
}

.light {
  font-weight: 300;
}

.x-list {
  box-sizing: border-box;
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  li {
    color: var(--primaryColor);
    font-size: 1.3em;
    font-weight: bold;
    display: table-cell;
    padding: 5%;
    text-align: center;

    span {
      cursor: pointer;
    }

    ::after{
      border-bottom: 2px solid var(--primaryColor);
      display: block;
      content: '';
      height: 0.8em;
      margin: auto;
      width: 40%;
    }
  }
}