$midnight: #242e42;
$biscay: #2f3b52;

// $background: #252525;
// $background-light: #313237;
// $background: #212529;
// $background-light: #2a2e32;
// $background: #121212;
// $background-light: #1f1f1f;
$background: #16171b;
$background-light: #202125;