<!DOCType html>
<html>

<head>
    <meta charset="utf-8" />
    <meta lang="en" />

    <title> Register with us for premier discount marketing </title>
    <!-- CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css"/>
    <link rel="stylesheet" href="/node_modules/angular-motion/dist/angular-motion.css">
    <link rel="stylesheet" href="/node_modules/ng-img-crop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="/node_modules/noty/lib/noty.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css"/>
    <link rel="stylesheet" href="/css/buttons.css"/>
    <link rel="stylesheet" href="/css/merchant-portal.css">
    <link rel="stylesheet" href="/css/modal.css"/>
    <link rel="stylesheet" href="/css/merchant-auth.css">

    <!-- JS -->
    <script src="/node_modules/noty/lib/noty.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/angular-sessionstorage/angular-sessionstorage.j"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/stateEvents.min.js"></script>
    <script src="/node_modules/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/node_modules/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/node_modules/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/node_modules/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/node_modules/angular-img-cropper/dist/angular-img-cropper.min.js"></script>
    <script src="/node_modules/moment/moment.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="/js/shared/controllers/AuthCtrl.js"></script>
    <script src="/js/shared/services/AuthSrv.js"></script>
    <script src="/js/shared/services/StorageSrv.js"></script>
    <script src="/js/merchantapp/services/MerchantSrv.js"></script>
    <script src="/js/shared/services/PaymentSrv.js"></script>
    <script src="/js/shared/services/RewardsSrv.js"></script>
    <script src="/js/shared/services/UtilSrv.js"></script>
    <script src="/js/shared/services/ConfigSrv.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/shared/authapp.js"></script>
</head>

<body ng-app="authapp" ng-controller="AuthController">
    <div class="registration" id="merchant-confirmation">
        <!-- <div class="row text-center">
            <h1 class="light"> Merchant Confirmation Form </h1>
            <h4 class="light"> Just one more step to become active</h4>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-md-2 col-xs-12"></div>
            <div class="col-md-8 col-xs-12">
                <div class="merchantRegBox">
                    <h1> Merchant Confirmation Form </h1>
                    <h3 class="light no-space-below" style="margin-top: 0;">
                        Hi {{ user.merchantInfo.companyName }}, fill the form below to complete your registration
                    </h3>
                    <h5 class="light"> Just one more step to become active</h5>
                    <form ng-submit="completeMerch()" name="merchantConfirmation">

                        <!-- plan selection section -->
                        <div class="card" ng-if="showBilling">
                            <section class="billing-plans" style="padding-top: 0;" >
                                <h3 class="light" style="margin-bottom: 30px;">Select Your Plan</h3>
                                <div class="plans">
                                    <div class="plan" ng-if="!trialPeriodData.enabled">
                                        <input type="radio" name="billing-plan" class="billing-plan" name="billing-plan"
                                            value="0" ng-checked="planIndex===0">
                                        <div class="card" ng-click="planSelect(0)">
                                            <div class="plan-header">
                                                Commission
                                                <span class="select-indicator"></span>
                                            </div>
                                            <div class="plan-body">
                                                <p>Single Reward Payments</p>
                                                <p>Access to Customer Insights Through the Analytics Dashboard</p>
                                            </div>
                                            <div class="plan-footer">
                                                3% fee per purchase
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan" ng-if="!trialPeriodData.enabled">
                                        <input type="radio" name="billing-plan" class="billing-plan" name="billing-plan"
                                            value="1" ng-checked="planIndex===1">
                                        <div class="card" ng-click="planSelect(1)">
                                            <div class="plan-header">
                                                Start Up Plan
                                                <span class="select-indicator"></span>
                                            </div>
                                            <div class="plan-body">
                                                <p>Unlimited Rewards Addition within Month of Payment</p>
                                                <p>Dedicated Tech Support</p>
                                                <p>Access to Customer Insights Through the Analytics Dashboard</p>
                                            </div>
                                            <div class="plan-footer">
                                                &#8358;57,000 per Month
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan" ng-if="!trialPeriodData.enabled">
                                        <input type="radio" name="billing-plan" class="billing-plan" name="billing-plan"
                                            value="2" ng-checked="planIndex===2">
                                        <div class="card" ng-click="planSelect(2)">
                                            <div class="plan-header">
                                                Corporate Plan
                                                <span class="select-indicator"></span>
                                            </div>
                                            <div class="plan-body">
                                                <p>All of start up plan Options</p>
                                                <p>Coupin Concierge at Merchant Location</p>
                                            </div>
                                            <div class="plan-footer">
                                                &#8358;750,000 per Year
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan" ng-if="trialPeriodData.enabled">
                                        <input type="radio" name="billing-plan" class="billing-plan" name="billing-plan"
                                            value="2" ng-checked="trialPeriodData.enabled">
                                        <div class="card">
                                            <div class="plan-header">
                                                Free Trial
                                                <span class="select-indicator"></span>
                                            </div>
                                            <div class="plan-body">
                                                <p>Unlimited Rewards Addition within trial Month</p>
                                            </div>
                                            <div class="plan-footer">
                                                &#8358;0 for {{trialPeriodData.duration}} month{{trialPeriodData.duration > 1 ? 's' : ''}} (Free)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- merhcnat logo and banner image section -->
                        <div class="card" style="margin-top: 20px;">
                            <h3 class="light" style="margin-bottom: 30px;">Upload Your Images</h3>
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <label>Logo</label>
                                    <div class="logo-box">
                                        <img ng-if="showLogo()" ng-src="{{formData.logo.url}}" style="height: 150px; width: 150px;"/>
                                        <div class="inner" data-toggle="modal" data-target="#cropModal"
                                            ng-click="isLogo = true">
                                            <i ng-if="!uploadingLogo" class="fas fa-2x fa-camera-retro"></i>
                                            <small ng-if="uploadingLogo">{{'Upload at ' + logoPer + '%'}}</small>
                                        </div>
                                    </div>
                                    <small>Click above to upload or clear logo image</small>
                                </div>
                                <div class="col-md-9 col-sm-12">
                                    <label>Banner</label>
                                    <div class="banner-box">
                                        <img height="200" ng-if="showBanner()" ng-src="{{formData.banner.url}}" style="height: 250px;"/>
                                        <div class="inner" data-toggle="modal" data-target="#cropModal"
                                            ng-click="isLogo = false">
                                            <i ng-if="!uploadingLogo" class="fas fa-2x fa-camera-retro"></i>
                                            <small ng-if="uploadingLogo">{{'Upload at ' + logoPer + '%'}}</small>
                                        </div>
                                    </div>
                                    <small>Click above to upload or clear banner image</small>
                                </div>
                            </div>
                        </div>

                        <!-- merchant password and info section -->
                        <div class="card" style="margin-top: 20px;">
                            <h3 class="light" style="margin-bottom: 30px;">Set Your Password and Info</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon  icons-input"><i class="fas fa-key"></i></div>
                                            <input 
                                                type="password" 
                                                class="form-control" 
                                                id="password"
                                                aria-describedby="passwordHelp"
                                                placeholder="Please put in password"
                                                ng-model="formData.password"
                                                name="password"
                                                ng-class="{'has-error': merchantConfirmation.confirmPassword.$dirty && formData.password2 !== formData.password}"
                                                required>
                                        </div>
                                        <small id="passwordHelp" class="form-text text-muted">This is the password linked with
                                            your email for login.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="password2">Confirm Password:</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon  icons-input"><i class="fas fa-key"></i></div>
                                            <input
                                                type="password"
                                                class="form-control"
                                                id="password2"
                                                aria-describedby="password2lHelp"
                                                placeholder="Confirm Password.."
                                                ng-model="formData.password2"
                                                name="confirmPassword"
                                                ng-class="{'has-error': merchantConfirmation.confirmPassword.$dirty && formData.password2 !== formData.password}"
                                                required>
                                        </div>
                                        <small id="password2Help" class="form-text text-muted" ng-show="!(merchantConfirmation.confirmPassword.$dirty && formData.password2 !== formData.password)">Please confirm your password.</small>
                                        <small id="password2Help" class="form-text error-text" ng-show="merchantConfirmation.confirmPassword.$dirty && formData.password2 !== formData.password">Password and confirm password must match</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="descr">Description of Business:</label>
                                        <textarea
                                            class="form-control"
                                            id="descr"
                                            maxlength="80"
                                            placeholder="My company is into..."
                                            ng-model="formData.companyDetails"
                                            required></textarea>
                                        <small id="descrHelp" class="form-text text-muted">Describe business in 80 words or
                                            less</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row user-profile-action">
                                <button ng-disabled="!disableMerchantConfirmationButton() || loading[1]" class="btn btn-primary btn-lg" type="submit">Complete Registration <i class="fas fa-spin fa-spinner" ng-show="loading[1]"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="row text-center">
                <small id="descrHelp" class="form-text">Copyright of CoupinApp &copy;</small>
            </div>
        </div>
    </div>
    <!-- Crop Modal -->
    <div class="modal fade" id="cropModal">
        <div ng-class="{'modal-dialog': true, 'modal-banner': !isLogo}">
            <div class="modal-content">
                <div class="screen-rotation-request" data-dismiss="modal">
                    <div class="content">
                        <p><i class="fas fa-mobile fa-4x"></i></p>
                        <p>Please rotate your device to continue</p>
                    </div>
                </div>
                <div class="modal-header text-center">
                    <h3>Image Crop</h3>
                </div>
                <div class="modal-body text-center">
                    <div ng-if="isLogo">
                        <h4>Images Must all be cropped to a 320x320 square.</h4>
                        <!-- <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                        <input class="form-control" type="file" accept="image/*" img-cropper-fileread
                            image="image.src" /> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="file-input__container">
                                    <label for="imageupload" class="file-input__container__prompts">
                                        <div class="file-input__container__prompts__img">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="file-input__container__prompts__text">
                                            <p>Select an Image</p>
                                            <p>Note: Image will appear to viewers as cropped.</p>
                                        </div>
                                        <input 
                                            class="form-control" 
                                            type="file" 
                                            accept="image/*" 
                                            img-cropper-fileread image="image.src" 
                                            id="imageupload"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cropArea">
                                <canvas height="350" width="500" image="image.src" image-cropper
                                    cropped-image="image.dst" crop-height="320" crop-width="320" keep-aspect="true"
                                    touch-radiue="30" crop-area-bounds="bounds"></canvas>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!isLogo">
                        <h4>Images Must all be cropped to a 950x323 square.</h4>
                        <!-- <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                        <input class="form-control" type="file" accept="image/*" img-cropper-fileread
                            image="image.src" /> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="file-input__container">
                                    <label for="imageupload" class="file-input__container__prompts">
                                        <div class="file-input__container__prompts__img">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="file-input__container__prompts__text">
                                            <p>Select an Image</p>
                                            <p>Note: Image will appear to viewers as cropped.</p>
                                        </div>
                                        <input 
                                            class="form-control" 
                                            type="file" 
                                            accept="image/*" 
                                            img-cropper-fileread image="image.src" 
                                            id="imageupload"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cropArea-banner">
                                <canvas height="400" width="1000" image-cropper image="image.src"
                                    cropped-image="image.dst" crop-height="323" crop-width="950" keep-aspect="true"
                                    touch-radiue="30" crop-area-bounds="bounds"></canvas>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            ng-style="{'width': progress + '%'}" aria-valuemin="0" aria-valuemax="100">
                            <span class="text-center" ng-if="progress < 100">{{progress + '%'}}</span>
                            <span class="text-center" ng-if="progress === 100">Retrieving image information.....</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-success" ng-click="fileCheck(image, isLogo)">Upload Image</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script> -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>