<!DOCType html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta lang="en"/>

        <title> Register with us for premier discount marketing </title>
        <!-- CSS -->
        <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../../libs/angular-motion/dist/angular-motion.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- JS -->
        <script src="../../libs/angular/angular.js"></script>
        <script src="../../libs/angular-route/angular-route.js"></script>
        <script src="../../libs/angular-strap/dist/angular-strap.min.js"></script>
        <script src="../../libs/angular-strap/dist/angular-strap.tpl.min.js"></script>

        <!-- ANGULAR CUSTOM -->
        <script src="../../js/shared/controllers/AuthCtrl.js"></script>
        <script src="../../js/services/LoginSrv.js"></script>
        <script src="../../js/services/MerchantSrv.js"></script>
        <script src="../../js/shared/authapp.js"></script>
    </head>
    <body ng-app="authapp" ng-controller="AuthController" class="registration">
        <div class="row text-center">
            <h1 class="light"> <b>Merchant</b> Confirmation Form </h1>
            <h4 class="light"> Just one more step to become <b>active</b></h4>
            <h3 class="light no-space-below">Hi <b>{{ merchant.companyName }}</b> Fill the form below to complete your registration</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="merchantRegBox">
                    <form>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fas fa-key"></i></div>
                                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Please put in password" ng-model="formData.password" required>
                            </div>
                            <small id="passwordHelp" class="form-text text-muted">This is the password linked with your email for login.</small>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fas fa-key"></i></div>
                                <input type="password" class="form-control" id="password2" aria-describedby="password2lHelp" placeholder="Confirm Password.." ng-model="formData.password2" required>
                            </div>
                            <small id="password2Help" class="form-text text-muted">Please confirm your password.</small>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fas fa-home"></i></div>
                                <input type="text" class="form-control" id="address" minlength="20" maxlength="40" aria-describedby="addressHelp" placeholder="e.g. 2 bank road, ikoyi" ng-model="formData.address" required>
                            </div>
                            <small id="addressHelp" class="form-text text-muted">Street address with area</small>
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fas fa-map-marker"></i></div>
                                <input type="text" class="form-control" id="city" minlength="3" maxlength="15" aria-describedby="cityHelp" placeholder="e.g. Benin" ng-model="formData.city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <select class="form-control" id="state" aria-describedby="stateHelp" ng-model="formData.state" ng-options="state for state in states" required></select>
                            <small id="addressHelp" class="form-text text-muted">Street address with area</small>
                        </div>
                        
                        <button class="btn btn-default" type="submit" ng-click="completeMerch()">Complete Registration</button><i ng-show="loading[1]" class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="row text-center">
                <small id="descrHelp" class="form-text">Copyrite of CoupinApp &copy;</small>
            </div>
        </div>
    </body>
</html>