<!DOCType html>
<html>

<head>
    <meta charset="utf-8" />
    <meta lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Password Change Request</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/all.css">
    <link rel="stylesheet" href="/libs/angular-motion/dist/angular-motion.css">
    <link rel="stylesheet" href="/libs/ng-img-crop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="/libs/noty/lib/noty.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/merchant-portal.css">
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/merchant-auth.css">

    <!-- JS -->
    <script src="/libs/noty/lib/noty.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-route/angular-route.js"></script>
    <script src="/libs/angular-sessionstorage/angular-sessionstorage.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/libs/angular-ui-router/release/stateEvents.min.js"></script>
    <script src="/libs/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/libs/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/libs/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/libs/angular-img-cropper/dist/angular-img-cropper.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="/js/shared/controllers/AuthCtrl.js"></script>
    <script src="/js/shared/services/AuthSrv.js"></script>
    <script src="/js/shared/services/StorageSrv.js"></script>
    <script src="/js/merchantapp/services/MerchantSrv.js"></script>
    <script src="/js/shared/services/RewardsSrv.js"></script>
    <script src="/js/shared/services/PaymentSrv.js"></script>
    <script src="/js/shared/services/UtilSrv.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/shared/authapp.js"></script>
</head>

<body ng-app="authapp" ng-controller="AuthController">
    <div class="registration" id="merchant-confirmation">
        <div class="merchant-auth">
            <div class="auth-container">
                <div style="margin: 30px;" class="auth-logo-container">
                    <img src="../../img/logo@2x-fs8.png" alt="logo" style="height: 50px;">
                </div>
                <div class="card">
                    <div class="header">

                    </div>
                    <div class="body">
                        <p>Please enter your email below.</p>
                        <form ng-submit="submitPasswordResetRequest()">
                            <div class="form-group">
                                <label for="password">Email:</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input 
                                      type="email" 
                                      class="form-control" 
                                      id="resetPasswordEmail"
                                      aria-describedby="passwordHelp" 
                                      placeholder="Please enter your email"
                                      ng-model="formData.resetPasswordEmail" 
                                      required>
                                    <div class="input-group-addon icons-input"><i class="fas fa-at"></i></div>
                                </div>
                                <small id="passwordHelp" class="form-text text-muted">An email reset link will be sent to this email.</small>
                            </div>
                            <button class="btn btn-primary" type="submit" ng-disabled="loading[1]">
                                <span ng-hide="loading[1]">Submit Request</span>
                                <span ng-show="loading[1]">
                                    Loading
                                    <i class="fas fa-spinner fa-spin fa-fw"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer auth-footer">
            <div class="row text-center">
                <small id="descrHelp" class="form-text">Copyright of Coupin &copy;</small>
            </div>
        </div>
    </div>
    <script src="/libs/jQuery/dist/jquery.js"></script>
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script> -->
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>