@import '../../../stylesheets/variables';

.MerchantRewardsList {
  padding-top: 30px;

  &__section-header,
  &__section-header *:not(button)  {
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
    color: #FDFFFF;
    margin-bottom: 30px;
    font-family: montserrat;
    text-transform: uppercase;
    display: inline-block;

  }

  &__section-header:before {
    background: none repeat scroll 0 0 #F49A40 ;
    bottom: -22px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
  }

  &__search-container-row {
    padding-bottom: 30px;
  }

  &__search-container {
    display: block;
    position: relative;
    padding: 0;
  }

  &__plan-status {
    height: 23px;
    border-radius: 11.5px;
    background: #f0f0f0;
    font-size: 11px;
    padding: 5px 7px;
    text-transform: capitalize;

    &.expired {
      background: transparent;
      border: 1px solid #e93e46;
      color: #e93e46;
    }

    &.active {
      background: transparent;
      border: 1px solid #15A580;
      color: #15A580;
    }

    &.draft {
      background: #fff;
      color: #8A8A8A;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    }

    &.isPending {
      background: transparent;
      border: 1px solid #F49A40;
      color: #F49A40;
    }

    &.review {
      background: transparent;
      border: 1px solid #5677FC;
      color: #5677FC;
    }

    &.inactive {
      background: transparent;
      color: #F0F0F0;
      border: 1px solid #f0f0f0;
    }
  }

  &__search-icon {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  &__add-reward-button {
    float: right;

    @media (max-width: 992px) {
      float: left;
      margin-top: 30px;
    }
  }

  &__reward-table-container {
    padding: 0;
  }

  &__reward-list-table {
    tr {
      &:not(.empty-row) {
        td {
          &:nth-of-type(1):before {
            content: "S/N";
          }
          &:nth-of-type(2):before {
            content: "Name";
          }
          &:nth-of-type(3):before {
            content: "Description";
          }
          &:nth-of-type(4):before {
            content: "Status";
          }
          &:nth-of-type(5):before {
            content: "Expires";
          }
          &:nth-of-type(6):before {
            content: "";
          }
        }
      }
    }
  }

  &__reward-list-pagination {
    display: flex;
    justify-content: center;
  }

  &__reward-list-pagination-button {
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $background-light;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: 0;
  }
}
