<div class="MerchantDashboard">
  <div class="container-fluid">
    <div class="row MerchantDashboard__header hidden-xs hidden-sm hidden-md">
      <div class="MerchantDashboard__logo-container">
        <a ui-sref=".dashboard">
          <img src="./../../../images/logo@2x-fs8.png" alt="logo" class="MerchantDashboard__logo">
          <p class="MerchantDashboard__header-text">Merchant Dashboard</p>
        </a>
      </div>
    </div>
    <div class="row MerchantDashboard__body">
      <div class="col-xs-12 col-sm-12 col-lg-2">
        <div class="navbar navbar-default navbar-fixed-side MerchantDashboard__navbar">
          <div class="container">
            <div class="navbar-header">
              <div class="brand hidden-lg">
                <!-- Coupin Merchant Dashboard -->
                <img src="./../../../images/logo@2x-fs8.png" alt="logo"
                  class="MerchantDashboard__mobile-logo hidden-lg">
              </div>
              <button class="navbar-toggle collapsed" data-target="#merchant-menu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse MerchantDashboard__menu" id="merchant-menu">
              <section class="MerchantDashboard__merchant-info">
                <div
                  class="merchant-logo MerchantDashboard__merchant-logo"
                  ng-style="{'background-image': 'url({{vm.user.merchantInfo.logo.url}})'}"
                ></div>
                <h3 class="MerchantDashboard__merchant-name">
                  {{vm.user.merchantInfo.companyName}}
                </h3>
                <h4 class="MerchantDashboard__merchant-email">
                  {{vm.user.email}}
                </h4>
              </section>
              <section class="MerchantDashboard__menu">
                <a ui-sref=".home" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-home"></i>
                  Home
                </a>
                <a ui-sref=".home" ui-sref-active="active" class="MerchantDashboard__menu-item hidden-sm hidden-xs hidden-md">
                  <i class="MerchantDashboard__menu-icon fas fa-home"></i>
                  Home
                </a>
                <a ui-sref=".rewardsList" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-tags"></i>
                  Rewards
                </a>
                <a ui-sref=".rewardsList" ui-sref-active="active" class="MerchantDashboard__menu-item hidden-sm hidden-xs hidden-md">
                  <i class="MerchantDashboard__menu-icon fas fa-tags"></i>
                  Rewards
                </a>
                <a ui-sref=".analytics" ng-class="{active: vm.analyticsState()}" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-chart-bar"></i>
                  Analytics
                </a>
                <a ui-sref=".analytics" ng-class="{active: vm.analyticsState()}" class="MerchantDashboard__menu-item hidden-sm hidden-xs hidden-md">
                  <i class="MerchantDashboard__menu-icon fas fa-chart-bar"></i>
                  Analytics
                </a>
                <a ui-sref=".profile" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-user"></i>
                  Profile
                </a>
                <a ui-sref=".profile" ui-sref-active="active" class="MerchantDashboard__menu-item hidden-sm hidden-xs hidden-md">
                  <i class="MerchantDashboard__menu-icon fas fa-user"></i>
                  Profile
                </a>
                <a ui-sref=".billing" ui-sref-active="active" data-toggle="collapse" data-target="#merchant-menu" class="hidden-lg MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-money-bill"></i>
                  Billing Info
                </a>
                <a ui-sref=".billing" ui-sref-active="active" class="MerchantDashboard__menu-item hidden-sm hidden-xs hidden-md">
                  <i class="MerchantDashboard__menu-icon fas fa-money-bill"></i>
                  Billing Info
                </a>
                <a ng-click="vm.logOut()" class="MerchantDashboard__menu-item">
                  <i class="MerchantDashboard__menu-icon fas fa-sign-out-alt"></i>
                  Signout
                </a>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-10 MerchantDashboard__body-content">
        <div class="alert alert-danger" role="alert" ng-if="vm.isExpired()">
            Your Subscription has expired! Click <a class="red-link" ui-sref=".billing">here</a> go to <b>Billing Info</b> to renew or activate a new plan!
        </div>
        <!-- Dynamic Angular Content -->
        <div ui-view></div>
        <!-- <ui-view></ui-view> -->
      </div>
    </div>
  </div>
</div>