<div>
    <header class="page-top-header">
        <!-- Request Counter -->
        <div class="w-10/12 pt-10 mx-auto">
            <h4 class="clickable mb-4" ng-click="navigateToList()"><i class="fa fa-angle-double-left"></i> Go Back</h4>
            <div class="flex pb-16 justify-between">
                <div class="title">
                    <h2 class="text-5xl capitalize" ng-if="loading">Loading...</h2>
                    <h2 class="text-5xl capitalize" ng-if="!loading">{{ formData.name }}</h2>
                    <!-- <h2 class="text-5xl capitalize" ng-if="!loading">{{ isEdit() ? formData.name : 'New Customer' }}</h2> -->
                </div>
                <div class="actions"></div>
            </div>
        </div>
        <!-- End Request Counter -->
    </header>
    <div class="content">
        <div class="w-full pt-16 mx-auto">
            <div>
                <!-- Customer Detail Content -->
                <div class="row" id="details" aria-labelledby="details">
                    <div class="form-page">
                        <h3 class="text-center text-3xl font-bold py-4" ng-if="!loading">Customer</h3>
                        <!-- <h3 class="text-center text-3xl font-bold py-4" ng-if="!loading">{{ isEdit() ? 'Edit' : 'Add New' }} Customer</h3> -->
                        <div class="row" ng-if="loading">
                            <div class="col-sm-12 text-center">
                                <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </div>
                        <form name="customerForm" ng-if="!loading">
                            <div class="btn btn-danger clickable" ng-disabled="proceeding" ng-if="isEdit()">Change Password <i class="fas fa-circle-o-notch fa-spin" ng-if="proceeding"></i></div>
                            <div class="flex justify-between flex-wrap my-8">
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="name">Name:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-user"></i></div>
                                        <input type="text"
                                            name="name"
                                            id="name"
                                            aria-describedby="nameHelp"
                                            placeholder="e.g. John Doe"
                                            ng-model="formData.name"
                                            ng-class="{'form-control': true, 'error-input': isError(customerForm.name)}"
                                            ng-disabled="!isEdit()"
                                            required>
                                    </div>
                                    <small id="nameHelp" class="form-text text-muted">The customer's name that is publicly known to all.</small>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="email">Email:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-at"></i></div>
                                        <input type="email"
                                            name="email"
                                            ng-class="{'form-control': true, 'error-input': isError(customerForm.email)}"
                                            id="email"
                                            aria-describedby="emailHelp"
                                            placeholder="e.g. johndoe@example.com"
                                            ng-model="formData.email"
                                            ng-disabled="!isEdit()"
                                            required>
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">The customer's email.</small>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="mobileNumber">Telephone:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-phone"></i></div>
                                        <input type="tel"
                                            name="mobileNumber"
                                            ng-class="{'form-control': true, 'error-input': isError(customerForm.mobileNumber)}"
                                            id="mobileNumber"
                                            aria-describedby="mobileNumberHelp"
                                            placeholder="e.g. 09090909090"
                                            ng-model="formData.mobileNumber"
                                            ng-disabled="!isEdit()"
                                            required>
                                    </div>
                                    <small id="mobileNumberHelp" class="form-text text-muted">The customer's mobile number.</small>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="address">Address:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-home"></i></div>
                                        <input type="text"
                                            name="address"
                                            ng-class="{'form-control': true, 'error-input': isError(customerForm.address)}"
                                            id="address"
                                            aria-describedby="addressHelp"
                                            placeholder="e.g. 3 Catholic Mission Street, Victoria Island"
                                            ng-model="formData.address"
                                            ng-disabled="!isEdit()"
                                            required>
                                    </div>
                                    <small id="cityHelp" class="form-text text-muted">The customer's residence address.</small>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="city">City:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-map-marker"></i></div>
                                        <input type="text"
                                            name="city"
                                            ng-class="{'form-control': true, 'error-input': isError(customerForm.city)}"
                                            id="city"
                                            aria-describedby="cityHelp"
                                            placeholder="e.g. Lagos"
                                            ng-model="formData.city"
                                            ng-disabled="!isEdit()"
                                            required>
                                    </div>
                                    <small id="cityHelp" class="form-text text-muted">The customer's city of residence.</small>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="ageRange">Age Range:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-user-friends"></i></div>
                                        <select name="ageRange" id="ageRange" class="form-control outline-none" ng-model="formData.ageRange" ng-disabled="!isEdit()">
                                            <option value="under 15"> Under 15 </option>
                                            <option value="15 - 25"> 15 - 25 </option>
                                            <option value="25 - 35"> 25 - 35 </option>
                                            <option value="35 - 45"> 35 - 45 </option>
                                            <option value="above 45"> Above 45 </option>
                                        </select>
                                    </div>
                                    <small id="cityHelp" class="form-text text-muted">The customer's age range.</small>
                                </div>
                            </div>
                            <div class="flex justify-between flex-wrap my-8">
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="refferer">Referrer:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-user"></i></div>
                                        <input type="text"
                                            name="referrer"
                                            class="form-control outline-none"
                                            id="referrer"
                                            aria-describedby="referrerHelp"
                                            placeholder="e.g. Akintunde Yusuf"
                                            ng-model="formData.referrer.name"
                                            disabled
                                        >
                                    </div>
                                </div>
                                <div class="form-group sm:w-5/12 w-full">
                                    <label for="refferalCode">Referral Code:</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fas fa-percent"></i></div>
                                        <input type="text"
                                            name="referralCode"
                                            class="form-control outline-none"
                                            id="referralCode"
                                            aria-describedby="referralCodeHelp"
                                            placeholder="e.g. PO89U7PP"
                                            ng-model="formData.referralCode"
                                            disabled
                                        >
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>