<div class="form-page">
  <h4 class="clickable" ng-click="navigateToList()"><i class="fa fa-angle-double-left"></i> Go Back</h4>
  <h3 class="text-center">Add New Reward</h3>
  <div class="row" ng-if="loading">
      <div class="col-sm-12 text-center">
          <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
  </div>
  <form name="rewardForm" ng-submit="proceed()" ng-if="!loading">
    <div class="form-group">
      <select
        ng-options="merchant.merchantInfo.companyName for merchant in merchants"
        ng-model="newReward.merchant"
        class="form-control"
        required>
        <option value="">Select Merchant</option>
      </select>
    </div>
    <div class="form-group">
        <label for="name">Reward Name: </label><span>*</span>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon icons-input"><i class="fas fa-tags"></i></div>
            <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="e.g. Family Meal" ng-model="newReward.name" required/>
        </div>
        <small id="categoryHelp" class="form-text text-muted">The name of the reward.</small>
    </div>
    <div class="form-group">
        <label for="description">Reward Description: </label>
        <textarea type="text" class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Description.." ng-model="newReward.description" required></textarea>
        <small id="descriptionlHelp" class="form-text text-muted">Description of the reward</small>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="oldPrice">Old Price: </label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon icons-input"><i class="fas fa-tags"></i></div>
                    <input type="oldPrice" class="form-control" id="oldPrice" placeholder="0" ng-model="newReward.price.old"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="newPrice">New Price: </label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon icons-input"><i class="fas fa-tags"></i></div>
                    <input type="newPrice" class="form-control" id="newPrice" placeholder="0" ng-model="newReward.price.new"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h3>Your Reward Discount is {{ ((newReward.price.old - newReward.price.new)/newReward.price.old) * 100 | number : 2 }}% Off</h3>
    </div>
    <div class="form-group">
        <label>Reward Categories: </label><br/>
        <input type="checkbox" name="category" id="entertainment" ng-checked="categories.entertainment" ng-click="addCat('entertainment')"> <label for="entertainment">Entertainment </label>
        <input type="checkbox" name="category" id="foodndrink" ng-checked="categories.foodndrink" ng-click="addCat('foodndrink')"> <label for="foodndrink">Food and Drink </label>
        <input type="checkbox" name="category" id="technology" ng-checked="categories.technology" ng-click="addCat('technology')"> <label for="technology">Technology </label>
        <input type="checkbox" name="category" id="groceries" ng-checked="categories.groceries" ng-click="addCat('groceries')"> <label for="groceries">Groceries </label>
        <input type="checkbox" name="category" id="healthnbeauty" ng-checked="categories.healthnbeauty" ng-click="addCat('healthnbeauty')"> <label for="healthnbeauty">Health &amp; Beauty </label>
        <input type="checkbox" name="category" id="shopping" ng-checked="categories.shopping" ng-click="addCat('shopping')"> <label for="shopping">Shopping </label>
        <input type="checkbox" name="category" id="tickets" ng-checked="categories.tickets" ng-click="addCat('tickets')"> <label for="tickets">Tickets </label>
        <input type="checkbox" name="category" id="travel" ng-checked="categories.travel" ng-click="addCat('travel')"> <label for="travel">Travel </label>
        <br/>
        <small id="categoryHelp" class="form-text text-muted">Please tick categories that best describe your business.</small>
    </div>
    <div class="form-group">
        <label for="multiple">Can this reward be used multiple times: </label><br/>
        <label><input type="radio" name="multiple" id="multiple" ng-model="newReward.multiple.status" ng-value="true"/> Yes </label>
        <label><input type="radio" name="multiple" id="multiple" ng-model="newReward.multiple.status" ng-value="false"> No </label><br/>
    </div>
    <div class="form-group">
        <label for="delivery">Can this reward be delivered: </label><br/>
        <label><input type="radio" name="delivery" id="delivery" ng-model="newReward.delivery" ng-value="true"/> Yes </label>
        <label><input type="radio" name="delivery" id="delivery" ng-model="newReward.delivery" ng-value="false"> No </label><br/>
    </div>
    <!-- <div class="form-group" ng-if="newReward.multiple.status == true">
        <label for="start">How many times: </label><br/>
        <input class="form-control" id="capacity" type="number" ng-model="newReward.multiple.capacity"/>
        <small id="startHelp" class="form-text text-muted">Put in 0 for countless times.</small>
    </div> -->
    <!-- <div class="form-group">
        <label for="start">Start Date: </label><br/>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
            <input class="form-control" id="start" type="date" ng-model="newReward.startDate"/>
        </div>
        <small id="startHelp" class="form-text text-muted">Start date for the reward.</small>
    </div>
    <div class="form-group">
        <label for="end">End Date: </label><br/>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
            <input class="form-control" id="end" type="date" ng-model="newReward.endDate"/>
        </div>
        <small id="endHelp" class="form-text text-muted">End date for the reward.</small>
    </div> -->
    <!-- <div class="form-group">
        <label for="range">Please pick a start and end date: </label><br/>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
            <input date-range-picker class="form-control date-picker" id="end" type="text" ng-model="dates" min="minDate" required/>
        </div>
        <small id="rangeHelp" class="form-text text-muted">This is when the users will start to see the reward and when it will end.</small>
    </div> -->
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="startDate">Please pick a start date: </label><br/>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
                <input bs-datepicker class="form-control" id="startDate" name="startDate" type="text" ng-change="setEndDate(noOfDays)" ng-model="newReward.startDate" data-min-date="{{minDate}}" required/>
            </div>
            <small id="rangeHelp" class="form-text text-muted">This is when the users will start to see the re ward.</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label for="endDate">Please select number of days: </label><br/>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon icons-input"><i class="fas fa-calendar"></i></div>
              <input class="form-control" id="endDate" name="startDate" type="number" ng-model="noOfDays" ng-change="setEndDate(noOfDays)" required/>
          </div>
          <small id="rangeHelp" class="form-text text-muted">It will end on <b>{{newReward.endDate | date: 'longDate'}}</b>.</small>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="appDays">Applicable Days: </label><br/>
        <input type="checkbox" ng-click="checkAll()"/> Select All Days
        <input type="checkbox" ng-click="weekDay()"/> Select Weekdays
        <input type="checkbox" ng-click="weekEnd()"/> Select Weekends <br/>
        <span class="btn btn-outline-primary" id="0" ng-click="day(0)">Monday</span>
        <span class="btn btn-outline-primary" id="1" ng-click="day(1)">Tuesday</span>
        <span class="btn btn-outline-primary" id="2" ng-click="day(2)">Wednesday</span>
        <span class="btn btn-outline-primary" id="3" ng-click="day(3)">Thursday</span>
        <span class="btn btn-outline-primary" id="4" ng-click="day(4)">Friday</span>
        <span class="btn btn-outline-primary" id="5" ng-click="day(5)">Saturday</span>
        <span class="btn btn-outline-primary" id="6" ng-click="day(6)">Sunday</span></br>
        <small id="appDaysHelp" class="form-text text-muted">Pick the days of the week that apply to you.</small>
    </div>
    <div class="form-group">
        <label for="end">Reward Pictures: </label><br/>
        <div class="btn btn-success" ng-disabled="loading || uploading" data-toggle="modal" data-target="#croppingModal">Select Files</div>
        <small id="endHelp" class="form-text text-muted">Sample Picture of Reward.</small>
    </div>
    <div class="row" ng-if="displayRewardPhotos()">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" ng-style="{'width': progress + '%'}" aria-valuemin="0" aria-valuemax="100">
                <span class="text-center">{{progress === 100 ? 'Processing...' : progress + '%'}}</span>
            </div>
        </div>
        <div class="preview-box" ng-repeat="(index, photo) in photos">
            <h5 class="text-center clickable" ng-click="removeImage(index)"><i class="fas fa-2x fa-times-circle"></i></h5>
            <img ng-src="{{photo.url}}" height="200" width="200"/>
        </div>
        <br>
        <button class="btn btn-success" ng-if="update" ng-disabled="loading || uploading" ng-click="upload(newReward._id, false)">Upload</button>
    </div>
    <br>
    <button class="btn btn-primary btn-full" ng-disabled="loading || uploading || isFormError(rewardForm)" ng-click="createReward(newReward)" ng-hide="update">Create Reward</button>
    <button class="btn btn-primary btn-full" ng-disabled="loading || uploading || isFormError(rewardForm)" ng-click="updateReward(newReward)" ng-show="update">Update Reward</button>
  </form>
</div>

<!-- Croppig Modal -->
<div class="modal fade" id="croppingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Image Crop</h3>
            </div>
            <div class="modal-body text-center">
                <div>
                    <h4>Images Must all be cropped to a 200x200 square.</h4>
                    <small><b>Note:</b>Image will appear to viewers as cropped.</small>
                    <input class="form-control" type="file" accept="image/*" img-cropper-fileread image="image.src"/>
                    <br>
                    <br>
                    <div class="row">
                        <div class="cropArea">
                            <canvas
                                height="350"
                                width="500"
                                image="image.src"
                                image-cropper
                                cropped-image="image.dst"
                                crop-height="200"
                                crop-width="200"
                                keep-aspect="true"
                                touch-radiue="30"
                                crop-area-bounds="bounds"
                                ></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-success" ng-click="fileCheck(image)">Add Image</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>