<div class="min-h-screen admin-container relative lg:flex block relative">
    <div
        class="side-nav h-screen absolute lg:sticky top-0 z-50"
        ng-class="{ 'expanded':sidebarExpanded  }"
        ng-mouseenter="setSidebarExpanded(true)"
        ng-mouseleave="setSidebarExpanded(false)"
    >
        <div class="logo-container flex items-center pt-4 pl-4">
            <div>
                <a href="https://coupinapp.com" class="block h-16 w-16">
                    <img src="img/logo@2x-fs8.png" alt="logo" class="h-16">
                </a>
            </div>
            <p class="show-expanded ml-4">Admin Dashboard</p>
        </div>
        <div class="menu-container mt-24">
            <a ui-sref=".home" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-home  text-43l"></i>
                    <p class="show-expanded ml-4">Home</p>
                </div>
            </a>
            <a ui-sref=".view-admins" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-user-shield 3text-4xl"></i>
                    <p class="show-expanded ml-4">Admin</p>
                </div>
            </a>
            <a ui-sref=".view-rewards" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-gift  text-3xl"></i>
                    <p class="show-expanded ml-4">Rewards</p>
                </div>
            </a>
            <a ui-sref=".view-merchs" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-store-alt  t3xt-4xl"></i>
                    <p class="show-expanded ml-4">View Merchants</p>
                </div>
            </a>
            <a ui-sref=".view-customers" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-user  t3xt-4xl"></i>
                    <p class="show-expanded ml-4">View Customers</p>
                </div>
            </a>
            <a ui-sref=".featured" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-fire-alt  t3xt-4xl"></i>
                    <p class="show-expanded ml-4">Hot & Features Merchants</p>
                </div>
            </a>
            <a ui-sref=".config" class="block my-6 side-nav-menu-item hover:no-underline" ui-sref-active="active">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-cogs text-4x3"></i>
                    <p class="show-expanded ml-4">Config</p>
                </div>
            </a>
            <a href="#" ng-click="logout()" class="block my-6 side-nav-menu-item hover:no-underline">
                <div class="flex items-center pl-6 py-4 text-gray-600 mx-3 rounded">
                    <i class="fas fa-sign-out-alt text-4x3"></i>
                    <p class="show-expanded ml-4">Sign Out</p>
                </div>
            </a>
        </div>
    </div>
    <div class="main-content h-full relative">
        <nav class="h-20 top-nav shadow-sm">
            <div class="mx-auto h-auto flex items-center w-10/12 h-full justify-between">
                <div></div>
                <div class="relative" ng-keydown="escKeydown()">
                    <div
                        class="rounded-full h-16 w-16 bg-gray-400 cursor-pointer"
                        ng-click="toggleMenu()">
                        <i class="fas fa-user-circle fa-icon-4"></i>
                    </div>
                    <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg" ng-show="isMenuOpen">
                        <div class="rounded-md bg-white shadow-xs">
                            <div class="py-1">
                                <a
                                    ng-click="logout()"
                                    class="cursor-pointer block p-4 leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 hover:no-underline"
                                    role="menuitem"
                                >
                                    <i class="fas fa-sign-out-alt"></i> Sign Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="overflow-y-scroll" ui-view></div>
    </div>
</div>