<div class="registration" id="admin-login">
  <div class="row text-center">
    <h1 class="light"> <b>Admin</b> Login Page</h1>
    <h4 class="light"> Login in <b>to get to the admin platform</b> </h4>
  </div>
  <div class="loginBox">
      <div class="login-form">
          <!-- Dynamic Angular Content -->
          <form ng-submit="signInA()">
              <!--<img class="center-img" src="/img/logo.png"/>-->
              <div class="error" ng-show="showError">
                  <h5>{{ loginError }}</h5>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelper" placeholder="Enter email" ng-model="formData.email" required/>
                  <small id="emailHelper" class="form-text text-muted">Your email is your access.</small>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelper" placeholder="Enter Password" ng-model="formData.password" required/>
                  <small id="passwordHelper" class="form-text text-muted">Do not share this with anyone.</small>
              </div>
              <button class="btn btn-default" id="submit"> Sign In </button><br/><br/>
              <i ng-show="loading[0]" class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
          </form>
      </div>
  </div>
</div>