<div>
    <!-- No Admins -->
    <div class="row text-center" ng-show="empty">
        <h2> There are no current admins.</h2>
    </div>
    <!-- No Admins -->

    <!-- Error Occured -->
    <div class="row text-center" ng-show="error">
        <h2> {{errorMessage}} </h2>
    </div>
    <!-- An Error Occured -->

    <!-- List Of Admins -->
    <div class="row admin-list-view" ng-repeat="(index, admin) in admins track by $index">
        <div class="col-md-1 col-xs-1"><h5>{{index + 1}}</h5></div>
        <div class="col-md-9 col-xs-7"><h5>{{admin.email}}</h5></div>
        <div class="col-md-1 col-xs-2">
            <button data-toggle="modal" data-target="#statusModal" ng-click="selectAdmin(index)" type="button">{{admin.isActive ? 'Deactivate' : 'Activate'}}</button>
        </div>
        <div class="col-md-1 col-xs-2"><button data-toggle="modal" data-target="#deleteModal" ng-click="selectAdmin(index)" type="button">Delete</button></div>
    </div>
    <!-- List Of Admins End -->

    <!-- Modal To Confirm Activation-->
    <div class="modal fade" id="statusModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    Please Confirm
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to {{ currentAdmin.isActive ? 'deactivate ' + currentAdmin.email : 'activate ' + currentAdmin.email }}?</h5>
                    <button class="btn btn-success" ng-click="toggleStatus(currentAdmin._id)" data-dismiss="modal">Yes</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal To Confirm Activation End -->
    <!-- Modal To Confirm Deactivation-->
    <div class="modal fade" id="deActivateModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    Please Confirm
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to deactivate {{currentAdmin.email}}?</h5>
                    <button class="btn btn-success" ng-click="deactivate(currentAdmin._id)" data-dismiss="modal">Yes</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal To Confirm Deactivation End -->
    <!-- Modal To Confirm Delete-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    Please Confirm
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete {{currentAdmin.email}}?</h5>
                    <button class="btn btn-success" data-dismiss="modal" ng-click="delete(currentAdmin._id)">Yes</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal To Confirm Delete End -->
</div>