<div class="inline-body" ng-init="loadMerchants()">
    <div class="jumbotron jumbotron-box padding-5-all">
        <form>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search..." />
            </div>
            <button class="btn btn-default" ng-click="addMerch()"><i class="fas fa-plus"></i> Add Merchant</button>
        </form>
    </div>
    <div class="jumbotron jumbotron-box padding-10-all">
        <div class="row" ng-if="loading">
            <div class="col-sm-12 text-center">
                <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
        <table class="table table-striped" ng-if="!loading">
            <thead>
                <th>S/N</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr ng-repeat="(index, merchant) in merchants">
                    <td>{{index + 1}}</td>
                    <td>{{merchant.merchantInfo.companyName}}</td>
                    <td>{{merchant.merchantInfo.address + ', ' + merchant.merchantInfo.city}}</td>
                    <td>{{merchant.email}}</td>
                    <td>{{merchant.isActive ? 'Visible' : 'Hidden'}}</td>
                    <td><div class="clickable" data-toggle="tooltip" title="Edit Merchant" ng-click="editMerch(merchant._id)"><i class="fa fa-pen-square"></i></div></td>
                    <td><button class="btn btn-default" ng-show="merchant.isActive === true">DeActivate</button></td>
                    <td><button class="btn btn-default" ng-show="merchant.isActive === false">Activate</button></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5 clickable" ng-click="previousPage()">
                <span class="right">
                    <i class="fa fa-angle-double-left"></i> Back
                </span>
            </div>
            <div class="col-sm-2 text-center">
                <span>{{ getPageCount() }}</span>
            </div>
            <div class="col-sm-5 clickable" ng-click="nextPage()">
                Next <i class="fa fa-angle-double-right"></i>
            </div>
        </div>
    </div>
</div>